/* filter options */

.filter ul {
  width: 12rem;
  display: flex;
  flex-direction: column;
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  border-radius: 0.33rem;
  padding: 0.33rem 0;
}

.filter ul li {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0 1rem;
  cursor: pointer;
}

.filter ul li:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--colorGreen);
}
