/* main */

.main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title {
  font-size: var(--fontSize6);
  font-weight: var(--fwBold);
  word-wrap: break-word;
  margin-bottom: 0.25rem;
}

.description {
  color: var(--secondaryColor);
  font-size: 0.9rem;
  line-height: 150%;
}
