/* load more btn */

.loadMoreBtn {
  text-align: center;
  background-color: var(--underlay);
  color: var(--primaryColor);
  border: none;
  width: 100%;
  padding: 1rem;
  border-radius: var(--br05);
  font-size: var(--fontSize6);
  cursor: pointer;
  margin-top: 2rem;
}

.loadMoreBtn:hover {
  background-color: var(--underlay2);
}
