/* main */

.main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: var(--fontSize6);
  word-wrap: break-word;
  margin-top: 0.1rem;
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize7);
  font-weight: var(--fwBold);
}

.tagsI {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.description {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
}
