/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerI {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: var(--fs4);
}

.id {
  font-size: 0.9rem;
  background-color: var(--underlay1);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.icon {
  font-size: var(--fs5);
  cursor: pointer;
}
