/* join community */

.exchanges {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}

.item {
  flex: 1;
  border-radius: 0.5rem;
}

.item a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 1rem;
}

.title {
  font-size: var(--fontSize6);
  margin-bottom: 0.25rem;
}

.description {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
}
