/* sort options */

.sort {
  width: 8rem;
  display: flex;
  flex-direction: column;
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}

.sort li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0 0.75rem;
  cursor: pointer;
}

.sort li:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--colorGreen);
}
