/* upcoming nft sales */

.t {
  text-align: right;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.promoted {
  -webkit-box-shadow: 0px 0px 0px 1px var(--highlightColor) inset;
  -moz-box-shadow: 0px 0px 0px 1px var(--highlightColor) inset;
  box-shadow: 0px 0px 0px 1px var(--highlightColor) inset;
}

.t__tbody__tr {
  box-shadow: var(--underline);
}

.t__mainColl span {
  display: inline-block;
  cursor: pointer;
}

.t__mainColl span:hover {
  text-decoration: underline;
}

.t__mainColl span:hover * {
  color: var(--primaryColor);
}

.t__mainColl span div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.t__mainColl__title {
  font-size: var(--fontSize6);
}

.t__mainColl span div span {
  font-size: var(--fontSize7);
  padding: 0.05rem 0.25rem;
  color: var(--primaryColor);
  background-color: var(--highlightColor);
  border-radius: 0.25rem;
}

.t__mainColl__description {
  font-size: 0.9rem;
  line-height: 150%;
  margin-top: 0.125rem;
  width: 16rem;
  color: var(--secondaryColor);
  white-space: normal;
}

.t thead tr th:first-child,
.t tbody tr td:first-child {
  padding-left: 0;
}

.t thead tr th:last-child,
.t tbody tr td:last-child {
  padding-right: 0;
}

.t thead tr th:nth-child(-n + 3),
.t tbody tr td:nth-child(-n + 3) {
  text-align: left;
}

.t thead tr th,
.t tbody tr td {
  padding: 1rem;
}

/* links */

.t__links ul,
.t__iclinks ul {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.t__links ul li a,
.t__iclinks ul li a {
  display: inline-flex;
  align-items: center;
  padding: 0.125rem 0;
  color: var(--highlightColor);
  font-size: var(--fontSize7);
}

.t__links ul li a:hover,
.t__iclinks ul li a:hover {
  color: var(--highlightColorHover);
}

.t__links ul li a span {
  height: 1rem;
  width: 1rem;
  display: grid;
  place-items: center;
}

/* nft preview */

.nft__preview div {
  display: flex;
  justify-content: flex-end;
  gap: 0.33rem;
}

.nft__preview div img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

/* hero */

.nft__hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.nft__hero p {
  color: var(--secondaryColor);
  max-width: 32rem;
}

/* media partners badge */

.mediaPartners {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0.75rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--underlay);
  font-size: var(--fontSize7);
}

.mediaPartners__logo {
  display: flex;
  align-items: center;
  font-weight: var(--bold);
  gap: 0.2rem;
  margin-left: 0.33rem;
}

.mediaPartners__logo img {
  height: 1.5rem;
}

.submitBtn {
  padding: 0.5rem 0.75rem;
  color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  font-weight: var(--bold);
  border-radius: var(--br025);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.submitBtn:hover {
  color: var(--background);
  background-color: var(--primaryColor);
}

/*  */

[data-value="btn"]:hover {
  background-image: linear-gradient(45deg, rgba(98, 0, 234, 1) 0%, rgba(48, 79, 254, 1) 100%);
}

#iconArrowRight {
  font-size: var(--fontSize7);
  opacity: 50%;
}

#iconCalendar {
  color: var(--tertiaryColor);
}

.nftSaleLink:hover {
  text-decoration: underline;
}
