/* upcoming nft sales */

.nft {
  margin-bottom: 4rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

/* table */

.rowHeader,
.row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.rowHeader {
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
}

.row {
  cursor: pointer;
  box-shadow: 0 1px 0 0 var(--underlay);
}

.row:hover {
  background-color: var(--underlay);
}

.coll25 {
  flex: 25%;
}

.coll10 {
  flex: 10%;
}

.name {
  font-size: var(--fontSize6);
}

.description {
  font-size: 0.9rem;
  line-height: 150%;
  margin-top: 0.125rem;
  color: var(--tertiaryColor);
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.linksIc {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  font-size: var(--fontSize7);
}

.na {
  color: var(--tertiaryColor);
}

/* other */

.disclaimer {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
  max-width: 32rem;
}

/* nft preview */

.nftPreviews {
  display: flex;
  align-items: center;
}

.nftPreviews img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
}
