/* categories */

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.category {
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  padding: 0.33rem 0.25rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
  cursor: pointer;
}

.selected {
  background-color: var(--primaryColor);
  color: var(--background);
}
