/* category */

.category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  white-space: nowrap;
  color: var(--seconadryColor);
  background-color: var(--underlay);
  border-radius: 1.25rem;
  border: none;
  cursor: pointer;
}

.active {
  color: var(--background);
  background-color: var(--primaryColor);
}

.category:hover:not(.category.active) {
  color: var(--primaryColor);
  background-color: var(--underlay2);
}

.icon {
  font-size: var(--fontSize5);
}

.projectsNum {
  color: var(--tertiaryColor);
}
