/* project page */

.project {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 2rem;
}

.main {
  flex: 1;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
    gap: 1rem;
  }
}
