/* project page */

.project {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
}

.main {
  flex: 1;
}

.links {
  width: 20rem;
  margin-bottom: 1rem;
}

.date {
  color: var(--secondaryColor);
  white-space: nowrap;
}

.subtitle {
  margin-bottom: 0.5rem;
  font-size: var(--fontSize6);
}

/* nft market data */

.nftMarketData {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.nftMarketData__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-shadow: var(--boxShadow);
  padding: 1rem;
  border-radius: 0.75rem;
}

.nftMarketData__item h5 {
  font-weight: var(--fwBold);
  font-size: var(--fontSize6);
}

/* btns */

.project__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project__btns a span {
  color: var(--tertiaryColor);
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.5rem;
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  padding: 0 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.btn span {
  font-size: var(--fontSize7);
}

.btn:hover {
  opacity: 0.8;
}

/* bottom */

.bottom {
  margin-top: 2rem;
}

.twitterDmButton {
  display: inline-block;
  color: var(--secondaryColor);
  padding: 0.5rem 0;
}

.twitterDmButton:hover {
  color: var(--primaryColor);
  box-shadow: 0 2px 0 var(--primaryColor);
}

/* - */

.nftSaleStatus {
  background-color: var(--underlay2);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .content {
    flex-direction: column;
    gap: 1rem;
  }
}
