/* btn */

.btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 3rem;
  padding: 0 0.5rem;
  font-size: var(--fs5);
  font-weight: var(--fwBold);
  background-color: var(--underlay1);
  border-radius: 0.5rem;
}

.btn:hover {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

.icon {
  font-size: var(--fs6);
  color: var(--tertiaryColor);
}
