/* Upcoming NFT sales */

.nftSales {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 1rem;
  padding-top: 0.75rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.nftSales__i {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 1px var(--gray180);
}

.nftSales__i__linkBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nftSales__i__linkBlock__main h4 {
  margin-bottom: 4px;
  font-size: var(--fontSize6);
}

.nftSales__i__linkBlock__main p,
.nftSales__i__linkBlock__tags li {
  color: var(--gray80);
  font-size: 0.9rem;
  line-height: 150%;
  font-weight: var(--light);
}

.nftSales__i__linkBlock__main {
  margin-bottom: auto;
}

.nftSales__i__linkBlock__tags {
  display: flex;
  gap: 0.33rem;
  margin-top: 0.5rem;
}

.nftSales__i__linkBlock__tags li {
  background-color: var(--gray200);
  padding: 0 0.33rem;
  border-radius: 0.25rem;
}

.nftSales__i__linkBlock__img {
  display: flex;
  overflow: hidden;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.nftSales__i__linkBlock__img__i {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 0.5rem;
}
