/* btn */

.btn {
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  padding: 0.5rem;
  background-color: var(--underlay1);
  border-radius: 0.5rem;
}

.active {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}
