/* admin projects */

.table {
  margin-top: 1rem;
  width: 100%;
  font-size: 0.9rem;
}

.rowHeader,
.row {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  gap: 1rem;
}

.rowHeader {
  font-weight: var(--fwMedium);
}

.row {
  cursor: pointer;
}

.row:nth-child(even) {
  background-color: var(--underlay);
}

.coll25 {
  padding-left: 0;
}

.row:hover {
  background-color: var(--underlay2);
}

.coll25 {
  flex: 2.5%;
  color: var(--tertiaryColor);
}

.coll139 {
  flex: 13.9%;
}
