/* socials */

.socials {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.socialsI {
  height: 2rem;
}

.socialsI:hover {
  opacity: 0.8;
}

.socialsI a {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  font-size: var(--fontSize7);
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  border-radius: 0.33rem;
}

.icon {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  display: grid;
  place-items: center;
}

.logo {
  width: 18px;
}
