/* TAG BUTTON */

.tags__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  white-space: nowrap;
  padding: 8px 10px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  background-color: var(--gray220);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.tags__item:hover:not(.tags__item__active) {
  background-color: var(--gray180);
}

.tags__item__active {
  background-color: var(--gray180);
}

.tags__item__icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  background-color: var(--gray180);
  border-radius: 4px;
  margin-right: 6px;
}

.tags__item__appsNum {
  color: var(--gray100);
}
