/* TAG BUTTON */

.tags__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  gap: 4px;
  white-space: nowrap;
  height: 40px;
  padding: 0 8px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  background-color: var(--gray220);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tags__item:hover:not(.tags__item.active) {
  background-color: var(--gray160);
}

.active {
  background-color: white;
  color: var(--gray220);
}

.tags__item__icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
  border-radius: 8px;
}

.tags__item__appsNum {
  color: var(--gray100);
}

@media screen and (max-width: 1023px) {
  .tags__item {
    background-color: var(--gray200);
  }

  .active {
    background-color: white;
    color: var(--gray220);
  }
}
