/* TAG BUTTON */



.tags__item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 8px;
	font-size: var(--fontSize5);
	font-weight: var(--medium);
	text-decoration: none;
	background-color: var(--gray180);
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	letter-spacing: -0.25px;
	transition: all 150ms ease-in-out;
}

.tags__item:hover:not(.category-btns__item__active) {
	background-color: var(--gray140);
}

.tags__item__active {
	background-color: white;
	color: var(--gray220);
}

.apps-num {
	color: var(--gray100);
}

@media screen and (max-width: 768px) {
	.category-btns {
		gap: 8px;
	}
}
