/* TAG BUTTON */

.tags__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  font-size: var(--fontSize5);
  font-weight: var(--medium);
  text-decoration: none;
  background-color: var(--gray180);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.tags__item:hover:not(.tags__item__active) {
  background-color: var(--gray140);
}

.tags__item__active {
  background-color: white;
  color: var(--gray220);
}

.appsNum {
  color: var(--gray100);
}
