# various ides and editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/*~

# mac osx temporary files
.DS_Store
**/.DS_Store

# canisters
/src/declarations
.dfx
.vessel
.mops
.azle

# frontend code
node_modules/
dist/

# environment variables
.env
.env.local
.env.development
.env.test
.env.production
