/* links */

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  flex: 1;
  height: 2.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--fs6);
  font-weight: var(--fwBold);
  padding: 0 1rem;
  border-radius: 1.375rem;
}

.link:hover {
  opacity: 0.8;
}

#primary {
  color: #fff;
  background-color: var(--highlight1);
}

#secondary {
  background: var(--underlay1);
}

.icon {
  flex-shrink: 0;
  font-size: var(--fs7);
}
