/* socials */

.socials {
  display: flex;
  align-items: center;
}

.link {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-size: var(--fs5);
  border-radius: 50%;
}

#twitter {
  color: var(--colorTwitter);
}

#twitter:hover {
  color: #fff;
  background-color: var(--colorTwitter);
}

#discord {
  color: var(--colorDiscord);
}

#discord:hover {
  color: #fff;
  background-color: var(--colorDiscord);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .link {
    width: 2.5rem;
    height: 2.5rem;
  }
}
