/* category list */

.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.categoryListI {
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  padding: 0.5rem;
  background-color: var(--underlay1);
  border-radius: 0.5rem;
  cursor: pointer;
}

.selected {
  background-color: var(--primaryColor);
  color: var(--background);
}
