/* links */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 2rem 0;
}

.linksI {
  border-radius: 0.5rem;
  cursor: pointer;
}

.linksI:hover {
  opacity: 0.8;
}

.linksI a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  height: 2.5rem;
  padding: 0 0.5rem;
  color: white;
  font-size: var(--fontSize5);
}

.label {
  font-weight: var(--fwBold);
}

[data-social="canister"],
[data-social="dscvr"],
[data-social="distrikt"],
[data-social="openchat"],
[data-social="website"],
[data-social="medium"],
[data-social="app"],
[data-social="docs"] {
  background-color: var(--underlay);
}

[data-social="canister"] a,
[data-social="dscvr"] a,
[data-social="distrikt"] a,
[data-social="openchat"] a,
[data-social="website"] a,
[data-social="medium"] a,
[data-social="app"] a,
[data-social="docs"] a {
  color: var(--primaryColor);
}

[data-social="twitter"] {
  background-color: var(--colorTwitter);
}

[data-social="discord"] {
  background-color: var(--colorDiscord);
}

[data-social="telegram"] {
  background-color: var(--colorTelegram);
}

[data-social="github"] {
  background-color: var(--colorGitHub);
}
