/* links */

.links {
  width: 100%;
}

.linksLi {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.75rem 0;
}

.linksLiI {
  border-radius: 0.33rem;
  cursor: pointer;
}

.linksLiI:hover {
  opacity: 0.8;
}

.linksLiI a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  height: 2rem;
  padding: 0 0.5rem;
  font-size: var(--fontSize5);
  color: white;
}

.label {
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
}

[data-social="Canister"],
[data-social="Dscvr"],
[data-social="Distrikt"],
[data-social="OpenChat"],
[data-social="Website"],
[data-social="Medium"],
[data-social="App"],
[data-social="Docs"] {
  background-color: var(--underlay);
}

[data-social="Canister"] a,
[data-social="Dscvr"] a,
[data-social="Distrikt"] a,
[data-social="OpenChat"] a,
[data-social="Website"] a,
[data-social="Medium"] a,
[data-social="App"] a,
[data-social="Docs"] a {
  color: var(--primaryColor);
}

[data-social="Twitter"] {
  background-color: #00acee;
}

[data-social="Discord"] {
  background-color: #5865f2;
}

[data-social="GitHub"] {
  background-color: #1b1f23;
}

[data-social="Telegram"] {
  background-color: #0088cc;
}
