/* homepage */

section {
  margin: 2rem 0;
}

/* hero */

.home__hero p {
  margin-top: 0.25rem;
  max-width: 24rem;
  color: var(--secondaryColor);
}

/* highlights */

.home__highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: -1rem 0;
}

.highlightI {
  flex: 1;
}

.highlightI h3 {
  font-size: var(--fontSize6);
  line-height: 133%;
}

.highlightILinkBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  color: white;
  border-radius: 3rem;
  background: rgb(98, 0, 234);
  background: linear-gradient(45deg, rgba(98, 0, 234, 1) 0%, rgba(48, 79, 254, 1) 100%);
}

.crowdsaleInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.crowdfundingIcon,
.rightArrowIcon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.crowdfundingIcon {
  font-size: var(--fontSize5);
}

.rightArrowIcon {
  background-color: rgba(255, 255, 255, 0.25);
}

.crowdsaleInfo p {
  font-size: 0.9rem;
}

/* sections */

.home__section__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.home__section__title h3 {
  font-size: var(--fontSize4);
}

.viewAll {
  font-size: 0.9rem;
  font-weight: var(--bold);
  padding: 0.5rem 0;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .home__highlights {
    flex-direction: column;
  }
}
