/* homepage */

.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* hero */

.home__hero p {
  margin-top: 0.25rem;
  max-width: 24rem;
  color: var(--secondaryColor);
}

/* sections */

.home__section__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.home__section__title h3 {
  font-size: var(--fontSize5);
}

.viewAll {
  font-size: 0.9rem;
  font-weight: var(--bold);
  padding: 0.5rem 0;
}
