/* homepage */

section {
  margin: 4rem 0;
}

/* hero */

.homeTitle {
  line-height: 110%;
  max-width: 36rem;
}

.hero {
  margin: 1rem 0;
}

.hero p {
  margin-top: 0.25rem;
  color: var(--secondaryColor);
}

/* highlights */

.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.highlightsI {
  flex: 1;
}

.highlightsI h3 {
  font-size: var(--fontSize6);
  line-height: 133%;
}

.highlightsILinkBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  color: white;
  border-radius: 3rem;
  background: rgb(98, 0, 234);
  background: linear-gradient(45deg, rgba(98, 0, 234, 1) 0%, rgba(48, 79, 254, 1) 100%);
}

.highlightsInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.highlightsIcon,
.rightArrowIcon {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.highlightsIcon {
  font-size: var(--fontSize5);
}

.rightArrowIcon {
  background-color: rgba(255, 255, 255, 0.25);
}

/* sections */

.sectionTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sectionTitle h3 {
  font-size: var(--fontSize5);
}

.viewAll {
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
  color: var(--highlightColor);
  padding: 0.5rem;
  box-shadow: 0 0 0 1px var(--underlay);
  border-radius: 0.25rem;
}

.viewAll:hover {
  opacity: 0.8;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .highlights {
    flex-direction: column;
  }
}
