/* HOMEPAGE TAGS */

.tags h6 {
  font-weight: var(--medium);
  margin-bottom: 8px;
}

.tags__content {
  position: sticky;
  top: 24px;
  display: flex;
  padding: 1px;
  flex-direction: column;
  gap: 6px;
}

@media screen and (max-width: 1023px) {
  .tags__content {
    position: inherit;
    gap: 10px;

    /* Horizontal scrolling */
    flex-wrap: wrap;
    height: 108px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
