/* back btn */

.backBtn {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  font-size: var(--fontSize6);
  color: var(--secondaryColor);
  background-color: var(--underlay1);
  border-radius: 50%;
  margin-bottom: 1rem;
}

.backBtn:hover {
  background-color: var(--underlay2);
}
