/* upvote btn */

.upvoteBtn,
.upvotedBtn {
  width: 2.5rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.25rem;
  font-size: var(--fontSize7);
  font-weight: var(--fwBold);
  color: var(--secondaryColor);
  background-color: var(--underlay);
  border: none;
  cursor: pointer;
}

.upvoteBtn:hover,
.upvotedBtn:hover {
  background-color: var(--underlay2);
}

.iconActive,
.iconDefault {
  font-size: var(--fontSize6);
}

.iconActive {
  color: var(--highlightColor2);
}

.iconDefault {
  color: var(--secondaryColor);
}
