/* desktop navlink */

.navlink {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  font-weight: var(--fwMedium);
  padding: 0.125rem 0.75rem;
  border-radius: 0.33rem;
  cursor: pointer;
}

.navlink:hover {
  opacity: 0.8;
}

.label {
  white-space: nowrap;
}
