/* active */

.btn {
  width: 40px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSize7);
  color: var(--tertiaryColor);
  background-color: rgba(var(--highlightColorRgb), 0.1);
  font-weight: var(--fwBold);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: var(--fontSize5);
  color: var(--highlightColor);
}

.num {
  margin-top: -0.125rem;
  padding-bottom: 0.25rem;
}
