/* about position */

.aboutPosition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.descriptionTitle {
  font-size: var(--fontSize5);
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: var(--fontSize6);
  margin-bottom: 0.25rem;
}

.description {
  padding: 1.5rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
}

.text,
.perksText {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
}

.perks {
  display: flex;
  gap: 2rem;
}
