/* higlighted projects */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}

.projectsI,
.logo {
  border-radius: 1rem;
}

.projectsI {
  cursor: pointer;
}

.content {
  display: flex;
  gap: 1rem;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
  flex-shrink: 0;
  object-fit: cover;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: var(--fontSize6);
  word-wrap: break-word;
  margin-top: 0.1rem;
}

.main ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize7);
  margin-top: 0.25rem;
}

.main ul li {
  display: flex;
  align-items: center;
  font-weight: var(--fwBold);
}

.description {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
}

.upvote {
  margin-left: auto;
}

.viewMoreBtn {
  margin-top: 1rem;
}

@media screen and (max-width: 1023px) {
  .logo {
    width: 4rem;
    height: 4rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 374px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
