/* recently added */

.projectsLi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.projectsLiI {
  cursor: pointer;
  border-radius: 1rem;
}

.content {
  display: flex;
  gap: 0.66rem;
}

.logo {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 1rem;
}

.titletags {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.description {
  font-size: 0.9rem;
  line-height: 150%;
  color: var(--secondaryColor);
}

.titletags h3 {
  font-size: var(--fontSize6);
  word-wrap: break-word;
}

.titletags ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize7);
  margin-top: 0.25rem;
}

.titletags ul li {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  font-weight: var(--fwBold);
  color: var(--primaryColor);
  background-color: var(--underlay);
}

.upvote {
  margin-left: auto;
}
