/* tags */

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagsI {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--fs6);
  font-weight: var(--fwBold);
  background-color: var(--underlay1);
  padding: 0 0.75rem;
  border-radius: 1.25rem;
}

#open {
  color: var(--primaryColor);
  background-color: var(--underlay1);
}

#onchain {
  color: #fff;
  background-color: var(--highlight3);
}

#grantee {
  color: #fff;
  background-color: var(--colorOk);
}
