/* SEARCH */

.search {
  position: relative;
}

.search__input {
  display: flex;
  align-items: center;
  max-width: 24rem;
  width: 100%;
  height: 2.5rem;
  padding: 0 2.5rem;
  border-radius: 0.25rem;
  font-size: var(--fontSize6);
  background-color: var(--background);
  box-shadow: var(--boxShadow);
  caret-color: var(--primaryColor);
  color: var(--primaryColor);

  /* clean default styles */
  border: none;
  outline: none;
}

.search__input:hover {
  box-shadow: var(--boxShadowActive);
}

.search__input:focus {
  color: var(--primaryColor);
  background-color: var(--background);
  box-shadow: var(--boxShadowActive);
}

.searchIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  transition: all 0.25s ease-out;
  color: var(--tertiaryColor);
}
