/* NFT TABLE */

.nftTable {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px auto;
  max-width: 1600px;
  width: 100%;
  font-weight: var(--light);
}

.nftTable__hero {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.nftTable__hero__heading h2 {
  margin-bottom: 8px;
}

.nftTable__hero__heading h2 span {
  font-weight: var(--medium);
  font-size: var(--fontSize4);
  color: var(--gray80);
}

.nftTable__hero__heading p {
  max-width: 500px;
  font-weight: var(--light);
  color: var(--gray40);
  margin-bottom: 16px;
}

.nftTable__hero__dashboard {
  display: flex;
  gap: 16px;
  flex: 1;
}

.nftTable__hero__dashboard__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray200);
  flex: 1;
}

.nftTable__hero__dashboard__item h4 {
  font-weight: var(--bold);
}

.nftTable__hero__dashboard__item p {
  color: var(--gray40);
}

#nftTable__msgLink {
  text-decoration: underline;
  color: var(--gray40);
}

/* name column */

[data-label="Name"] {
  font-weight: var(--medium);
}

.nftCollectionLink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: var(--blueGray900);
  text-decoration: none;
}

.nftCollectionLink:hover {
  text-decoration: underline;
}

.nftCollectionLink img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}

/* volume column */

.cell {
  display: flex;
  flex-direction: column;
}

.cellSpan {
  font-size: var(--fontSize7);
  color: var(--gray120);
  margin-top: 6px;
}

/* table */

.nftTable__table {
  margin: 24px auto;
  text-align: right;
  width: 100%;
}

.nftTable__table * {
  font-family: var(--monospace);
}

thead tr th {
  font-weight: var(--bold);
}

thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
  text-align: left;
}

thead tr th,
tbody tr td {
  padding: 16px 12px;
}

tbody tr {
  box-shadow: 0 -1px 0 var(--gray180);
  color: var(--gray60);
}

tbody tr td:first-child,
thead tr th:first-child {
  padding-left: 0;
  padding-right: 0;
}

tbody tr td:first-child {
  font-size: var(--fontSize7);
}

thead tr th:last-child,
tbody tr td:last-child {
  padding-right: 0;
}

.green {
  color: #8cbd18;
}

.red {
  color: #ca5010;
}

/* LOAD MORE BTN*/

.nftTable__loadMoreBtn {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.nftTable__loadMoreBtn button {
  background-color: var(--gray180);
  color: white;
  border: none;
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  font-size: var(--fontSize6);
  cursor: pointer;
  transition: all 100ms ease-in;
}

.nftTable__loadMoreBtn button:hover {
  background-color: var(--gray140);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .nftTable__hero__dashboard__item {
    padding: 16px;
    gap: 8px;
  }

  .nftTable__hero__dashboard__item h4 {
    font-size: var(--fontSize5);
  }
}

@media screen and (max-width: 479px) {
  .nftTable__hero__dashboard {
    flex-wrap: wrap;
  }
}
