/* APP PAGE */

.app-item {
	padding: 32px 0;
}

.app-item .app-name {
	font-size: var(--fontSize4);
}

.back-btn {
	display: inline-block;
}

.back-btn__div {
	width: 58px;
	height: 58px;
	display: grid;
	place-items: center;
	font-size: var(--fontSize5);
	color: var(--gray500);
	background-color: var(--gray180);
	border-radius: 50%;
}

.back-btn__div:hover {
	background-color: var(--gray140);
}

.app-item__app-cover {
	width: 100%;
	padding-bottom: 33.33%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 12px;
}

.app-item__links-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.app-item__social-icons-list {
	list-style-type: none;
	padding: 0;
	margin: 24px 0;
	display: flex;
	gap: 16px;
	font-size: var(--fontSize4);
}

.app-item__social-icons-list__item {
	width: 58px;
	height: 58px;
	border-radius: 16px;
	background-color: var(--gray180);
}

.app-item__social-icons-list__item a {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}

.app-item__app-info {
	display: flex;
	align-items: center;
	gap: 16px;
	margin: 16px 0;
}

.app-item__app-info__app-caption__title {
	font-size: var(--fontSize4);
	font-weight: var(--black);
}

.app-item__app-info__app-caption__tag {
	display: inline-block;
	padding: 4px 8px;
	margin-top: 4px;
	background-color: var(--gray180);
	border-radius: 4px;
}

.app-item__trade-btn {
	display: inline-block;
	padding: 8px 0 32px 0;
}

[data-social="Website"]:hover {
	background-color: var(--gray140);
}

[data-social="Canister"]:hover {
	background-color: var(--gray140);
}

[data-social="Twitter"]:hover {
	background-color: #00acee;
}

[data-social="Discord"]:hover {
	background-color: #5865f2;
}

[data-social="GitHub"]:hover {
	background-color: #1b1f23;
}

[data-social="Telegram"]:hover {
	background-color: #0088cc;
}

[data-social="Medium"]:hover {
	background-color: var(--gray140);
}

[data-social="Dscvr"] a img,
[data-social="Distrikt"] a img {
	height: 32px;
	width: 32px;
	border-radius: 50%;
}


.app-item__app-info__logo {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	object-fit: cover;
}