/* category btns item */

.tagsItem {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
  font-size: var(--fontSize6);
  color: var(--seconadryColor);
  background-color: var(--background);
  border: none;
  cursor: pointer;
}

.active {
  color: var(--primaryColor);
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

.tagsItem:hover:not(.tagsItem.active) {
  color: var(--primaryColor);
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

.tagsItem__icon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
}

.tagsItem__projectsNum {
  color: var(--tertiaryColor);
  font-weight: var(--light);
}
