/* socials ic */

.socialsIc {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fsText);
  font-weight: var(--fwBold);
}

.socialsIc li {
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.33rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
}
