/* app list */

.viewbtns {
  display: flex;
  gap: 0.5rem;
}

.viewbtns button {
  height: 2rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  border-radius: var(--br025);
  box-shadow: var(--boxShadow);
}

.active {
  background-color: var(--underlay);
}

.active * {
  color: white;
}
