/* category list */

.categoryList ul {
  width: 28rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem;
  font-weight: var(--fwMedium);
  background-color: var(--background);
  box-shadow: 0 0 0 1px var(--underlay2);
  border-radius: 0.33rem;
}

.categoryList ul li {
  white-space: nowrap;
  padding: 0.5rem;
  background-color: var(--underlay);
  border-radius: 0.33rem;
  cursor: pointer;
}

.categoryList ul li:hover {
  background-color: var(--underlay2);
}

#active {
  color: white;
  background-color: var(--highlightColor);
}

@media screen and (max-width: 479px) {
  .categoryList ul {
    width: 320px;
  }
}

@media screen and (max-width: 349px) {
  .categoryList ul {
    width: 280px;
  }
}
