/* category list */

.li {
  width: 28rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  padding: 1rem;
  border-radius: 0.5rem;
}

.liI {
  white-space: nowrap;
  padding: 0.5rem;
  box-shadow: 0 0 0 1px var(--underlay2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.liI:hover {
  background-color: var(--underlay2);
}

#active {
  color: white;
  background-color: var(--highlightColor);
  box-shadow: unset;
}

@media screen and (max-width: 479px) {
  .li {
    width: 320px;
  }
}

@media screen and (max-width: 349px) {
  .li {
    width: 280px;
  }
}
