/* expandable text */

.expandable {
  background-color: var(--underlay);
  padding: 0.75rem;
  border-radius: var(--br05);
}

.expandable__content {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.expandable__content p {
  font-size: var(--fontSize7);
  line-height: 150%;
  color: var(--secondaryColor);
}

.readMoreBtn {
  font-size: var(--fontSize7);
  font-weight: var(--black);
  color: var(--secondaryColor);
}
