/* expandable text */

.expandable {
  font-size: var(--fontSize7);
  color: var(--secondaryColor);
  background-color: var(--underlay);
  padding: 0.75rem;
  border-radius: 0.5rem;
}

.content {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.content p {
  line-height: 150%;
}

.readMoreBtn {
  font-weight: var(--fwBold);
  cursor: pointer;
}
