.cookie {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 3rem;
  padding: 0 1rem;
  color: var(--primaryColor);
  background: var(--underlay1);
}

.cookie * {
  font-size: var(--fsText);
}

.cookie__content {
  padding-right: 0.5rem;
  color: var(--secondaryColor);
}

.cookie__btn {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: var(--fwBold);
  text-decoration: none;
  background-color: var(--highlight1);
  padding: 0.25rem 0.75rem;
  border: none;
  cursor: pointer;
  transition: var(--transition1);
}

.cookie__btn:hover {
  background-color: var(--highlight2);
}

.cookie__link {
  text-decoration: underline;
  color: var(--secondaryColor);
  transition: var(--transition1);
}

.cookie__link:hover {
  color: var(--primaryColor);
}
