/* homepage */

section,
.highlights,
.divider {
  margin-bottom: 4rem;
}

/* sections */

.sectionHeader {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
  color: var(--highlightColor2);
  border-radius: 50%;
}

.title {
  font-size: var(--fontSize4);
}

.divider {
  height: 1px;
  box-shadow: 0 1px 0 0 var(--underlay);
}
