/* navlinks */

/* main & footer */

.nav,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* mobile */

/* if mobile then vertical direction */
.navMobile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navMobile > div {
  padding: 0.5rem;
}

.navMobile > button {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1023px) {
  /* hide main */
  .nav {
    display: none;
  }
}
