/* view all btn */

.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: var(--fsText);
  font-weight: var(--fwBold);
  background-color: var(--underlay);
  padding: 0 1rem;
  border-radius: 1.25rem;
}

.btn:hover {
  opacity: 0.8;
}
