/* –––FONTS––– */

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap");

/* –––TYPOGRAPHY––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fwBold);
  line-height: 100%;
}

h1 {
  font-size: var(--fs1);
}

h2 {
  font-size: var(--fs2);
}

h3 {
  font-size: var(--fs3);
}

h4 {
  font-size: var(--fs4);
}

h5 {
  font-size: var(--fs5);
}

h6 {
  font-size: var(--fs6);
}

/* –––ROOT––– */

:root {
  /* Cool Gray IBM https://www.ibm.com/design/language/color/ */

  --coolGray100: #121619;
  --coolGray100Rgb: 18, 22, 25;
  --coolGray90: #21272a;
  --coolGray80: #343a3f;
  --coolGray70: #4d5358;
  --coolGray60: #697077;
  --coolGray50: #878d96;
  --coolGray40: #a2a9b0;
  --coolGray30: #c1c7cd;
  --coolGray20: #dde1e6;
  --coolGray10: #f2f4f8;
  --coolGray10Rgb: 242, 244, 248;

  --black: #000;
  --white: #fff;

  /* highlight colors */

  --hColor1: #6200ea;
  --hColor2: #651fff;
  --hColor3: #7c4dff;
  --hColorRgb: 98, 0, 234;
  --hColorRgb2: 101, 31, 255;
  --hColorRgb3: 124, 77, 255;

  /* colors */

  --colorOk: #64dd17;
  --colorErr: #fa4d56;
  --colorNeutral: (var(--coolGray60));
  --colorAccept: #00c853;
  --colorReject: #ff5252;

  /* social colors */

  --colorX: #000000;
  --colorTwitter: #00acee;
  --colorDiscord: #5865f2;
  --colorTelegram: #0088cc;
  --colorFacebook: #1877f2;
  --colorLinkedIn: #1877f2;
  --colorReddit: #ff5700;
  --colorGitHub: #1b1f23;
  --colorFunded: #0d69ef;

  /* font-size */

  --fs1: 3.052rem;
  --fs2: 2.441rem;
  --fs3: 1.953rem;
  --fs4: 1.563rem;
  --fs5: 1.25rem;
  --fs6: 1rem;
  --text: 0.9rem;
  --fsText: 0.9rem;
  --fs7: 0.8rem;

  /* font-weight */

  --fwBlack: 900;
  --fwBold: 700;
  --fwMedium: 500;
  --fwRegular: 400;

  /* font-family */

  --fontFamily: "Inter", sans-serif;
  --monospace: "Inconsolata", monospace;

  /* animaiton */

  --transition1: all 0.25s, opacity 1s;
}

/* –––THEME––– */

.light {
  /* highlight colors */
  --highlight1: var(--hColor1);
  --highlight2: var(--hColor2);
  --highlight3: var(--hColor3);
  --highlightColor1Rgb: var(--hColorRgb);
  --highlightColor2Rgb: var(--hColorRgb2);
  --highlightColor3Rgb: var(--hColorRgb3);

  /* main */
  --primaryColor: var(--coolGray100);
  --primaryColorRgb: var(--coolGray100Rgb);
  --secondaryColor: var(--coolGray70);
  --tertiaryColor: var(--coolGray50);
  --background: #fff;
  --backgroundRgb: 255, 255, 255;

  /* underlay */
  --underlay1: var(--coolGray10);
  --underlay2: var(--coolGray20);
  --underlay3: var(--coolGray30);
}

.dark {
  /* highlight colors */
  --highlight1: var(--hColor1);
  --highlight2: var(--hColor2);
  --highlight3: var(--hColor3);
  --highlightColor1Rgb: var(--hColorRgb);
  --highlightColor2Rgb: var(--hColorRgb2);
  --highlightColor3Rgb: var(--hColorRgb3);

  /* main */
  --primaryColor: var(--coolGray10);
  --primaryColorRgb: var(--coolGray10Rgb);
  --secondaryColor: var(--coolGray30);
  --tertiaryColor: var(--coolGray50);
  --background: var(--coolGray100);
  --backgroundRgb: var(--coolGray100Rgb);

  /* underlay */
  --underlay1: var(--coolGray90);
  --underlay2: var(--coolGray80);
  --underlay3: var(--coolGray70);
}
