/* –––FONTS––– */

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap");

/* Tailwind */
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* –––TYPOGRAPHY––– */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fwBold);
  line-height: 100%;
}

h1 {
  font-size: var(--fs1);
}

h2 {
  font-size: var(--fs2);
}

h3 {
  font-size: var(--fs3);
}

h4 {
  font-size: var(--fs4);
}

h5 {
  font-size: var(--fs5);
}

h6 {
  font-size: var(--fs6);
}

/* –––ROOT––– */

:root {
  /* Cool Gray IBM https://www.ibm.com/design/language/color/ */

  --coolGray100: #121619;
  --coolGray100Rgb: 18, 22, 25;
  --coolGray90: #21272a;
  --coolGray80: #343a3f;
  --coolGray70: #4d5358;
  --coolGray60: #697077;
  --coolGray50: #878d96;
  --coolGray40: #a2a9b0;
  --coolGray30: #c1c7cd;
  --coolGray20: #dde1e6;
  --coolGray10: #f2f4f8;
  --coolGray10Rgb: 242, 244, 248;

  --black: #000;
  --white: #fff;

  /* highlight colors */

  --hColor1: #6200ea;
  --hColor2: #651fff;
  --hColor3: #7c4dff;
  --hColorRgb: 98, 0, 234;
  --hColorRgb2: 101, 31, 255;
  --hColorRgb3: 124, 77, 255;

  /* colors */

  --colorAccept1: #65cf1e;
  --colorAccept2: #83d84a;
  --colorReject1: #ff5252;
  --colorReject2: #ff7474;
  --colorOk: #64dd17;
  --colorOkRgb: 100, 221, 23;
  --colorErr: #fa4d56;
  --colorErrRgb: 250, 77, 86;
  --colorNeutral: (var(--coolGray60));
  --colorAccept: #00c853;
  --colorReject: #ff5252;

  /* social colors */

  --colorX: #000000;
  --colorTwitter: #00acee;
  --colorDiscord: #5865f2;
  --colorTelegram: #0088cc;
  --colorFacebook: #1877f2;
  --colorLinkedIn: #1877f2;
  --colorReddit: #ff5700;
  --colorGitHub: #1b1f23;
  --colorFunded: #0d69ef;

  /* font-size */

  --fs1: 3.052rem;
  --fs2: 2.441rem;
  --fs3: 1.953rem;
  --fs4: 1.563rem;
  --fs5: 1.25rem;
  --fs6: 1rem;
  --text: 0.9rem;
  --fsText: 0.9rem;
  --fs7: 0.8rem;

  /* font-weight */

  --fwBlack: 900;
  --fwBold: 700;
  --fwMedium: 500;
  --fwRegular: 400;

  /* font-family */

  --fontFamily: "Inter", sans-serif;
  --monospace: "Inconsolata", monospace;

  /* animaiton */

  --transition1: all 0.25s, opacity 1s;

  --radius: 0.625rem;

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);
}

/* –––THEME––– */

/* .light {
  --highlight1: var(--hColor1);
  --highlight2: var(--hColor2);
  --highlight3: var(--hColor3);
  --highlightColor1Rgb: var(--hColorRgb);
  --highlightColor2Rgb: var(--hColorRgb2);
  --highlightColor3Rgb: var(--hColorRgb3);

  --primaryColor: var(--coolGray100);
  --primaryColorRgb: var(--coolGray100Rgb);
  --secondaryColor: var(--coolGray70);
  --tertiaryColor: var(--coolGray50);
  --background: #fff;
  --backgroundRgb: 255, 255, 255;

  --underlay1: var(--coolGray10);
  --underlay2: var(--coolGray20);
  --underlay3: var(--coolGray30);

  --shadow1: rgba(var(--primaryColorRgb), 0.05) 0px 6px 24px 0px,
    rgba(var(--primaryColorRgb), 0.08) 0px 0px 0px 1px;
  --boxShadow1: 0 0 0 1px var(--underlay1);
  --boxShadow2: 0 0 0 1px var(--underlay2);
  --boxShadow1Inset: inset 0 0 0 1px var(--underlay1);
  --boxShadow2Inset: inset 0 0 0 1px var(--underlay2);
} */

.dark {
  /* highlight colors */
  --highlight1: var(--hColor1);
  --highlight2: var(--hColor2);
  --highlight3: var(--hColor3);
  --highlightColor1Rgb: var(--hColorRgb);
  --highlightColor2Rgb: var(--hColorRgb2);
  --highlightColor3Rgb: var(--hColorRgb3);

  /* main */
  --primaryColor: var(--coolGray10);
  --primaryColorRgb: var(--coolGray10Rgb);
  --secondaryColor: var(--coolGray30);
  --tertiaryColor: var(--coolGray50);
  /* --background: var(--coolGray100); */
  --background: oklch(0.145 0 0);
  --backgroundRgb: var(--coolGray100Rgb);

  /* underlay */
  --underlay1: var(--coolGray100);
  --underlay2: var(--coolGray90);
  --underlay3: var(--coolGray80);

  /* underline */
  --underlinePrimary: 0 2px var(--primaryColor);
  --underlineSecondary: 0 2px var(--secondaryColor);
  --underlineTertiary: 0 2px var(--tertiaryColor);

  /* ... */
  --shadow1: rgba(var(--primaryColorRgb), 0.12) 0px 0px 0px 1px;
  --shadow2: rgba(var(--primaryColorRgb), 0.12) 0px 2px 8px 0px;
  --boxShadow1: 0 0 0 1px var(--underlay1);
  --boxShadow2: 0 0 0 1px var(--underlay2);
  --boxShadow3: 0 0 0 1px var(--underlay3);
  --boxShadow1Inset: inset 0 0 0 2px var(--underlay1);
  --boxShadow2Inset: inset 0 0 0 2px var(--underlay2);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
