/* nft modal */

.nftModal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  margin: 1rem;
  max-width: 24rem;
  border-radius: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  font-weight: var(--fwBlack);
}

.text {
  font-size: var(--fs5);
  font-weight: var(--fwRedular);
}
