/* submit btn */

.submitBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: var(--fwMedium);
  color: var(--primaryColor);
  background-color: var(--underlay);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--tertiaryColor);
}
