/* Recently added */

.appLi {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 1rem;
  padding-top: 0.75rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.appLi__i {
  width: 17.5rem;
  border-radius: 1.5rem;
}

.appLi__i__linkBlock__cover {
  width: 100%;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}

.appLi__i__linkBlock__appInfo {
  display: flex;
  padding: 0.75rem 0;
  gap: 0.5rem;
}

.appLi__i__linkBlock__appInfo__logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.appLi__i__linkBlock__appInfo__desc {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* overflow-wrap: break-word; */
}

.appDescription {
  font-size: 0.9rem;
  line-height: 150%;
  font-weight: var(--light);
  color: var(--secondaryColor);
}

.appLi__i__linkBlock__appInfo__desc__title {
  font-size: var(--fontSize6);
  font-weight: var(--black);
  word-wrap: break-word;
}

.appLi__i__linkBlock__appInfo__desc ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize7);
}

.appLi__i__linkBlock__appInfo__desc ul li {
  color: var(--secondaryColor);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
}

.appLi__i__linkBlock__appInfo__desc ul li img {
  max-width: 1rem;
}

/* - */

.viewAllAppsCard {
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: var(--boxShadow);
  border-radius: 1rem;
}
