/* name */

.name {
  font-weight: var(--fwBlack);
  word-break: break-all;
}

/* responsive */

@media screen and (max-width: 479px) {
  .name {
    font-size: var(--fs4);
  }
}

@media screen and (max-width: 359px) {
  .name {
    font-size: var(--fs5);
  }
}
