/* navlink */

.navlink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  font-size: var(--fontSize5);
  cursor: pointer;
}

.label {
  font-weight: var(--fwBold);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  color: var(--highlightColor3);
}
