/* higlighted by category */

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}

.p {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.p:hover {
  opacity: 0.8;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}

.title {
  font-size: var(--fs6);
  margin-bottom: 0.25rem;
}

.icon {
  color: var(--highlight2);
}

.description {
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
  line-height: 150%;
  color: var(--tertiaryColor);
}

@media screen and (max-width: 1023px) {
  .logo {
    width: 4rem;
    height: 4rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 374px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
