/* HOMEPAGE TAGS ITEM */

.tagsItem {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 12px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  color: white;
  background-color: var(--gray220);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
}

.tagsItem:hover:not(.tagsItem.active) {
  background-color: var(--gray140);
}

.tagsItem__icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
}

.tagsItem__projectsNum {
  color: var(--gray100);
  font-weight: var(--light);
}
