/* HOMEPAGE TAGS ITEM */

.tagsItem {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.25rem;
  height: 36px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  color: var(--gray80);
  background-color: black;
  border: none;
  cursor: pointer;
}

.active {
  color: white;
  box-shadow: 0 2px 0 0 white;
}

.tagsItem:hover:not(.tagsItem.active) {
  color: white;
  box-shadow: 0 2px 0 0 white;
}

.tagsItem__icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
}

.tagsItem__projectsNum {
  color: var(--gray100);
  font-weight: var(--light);
}
