/* badge */

.badge {
  font-size: var(--fs7);
  flex-wrap: wrap;
}

.badge,
.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text {
  color: var(--secondaryColor);
}

.logo {
  max-width: 1.25rem;
}
