/* price change */

.change {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
}

.value {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 0.75rem;
  margin-right: 0.125rem;
}

.interval {
  color: var(--tertiaryColor);
}
