/* sort btn */

.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 1rem;
  font-size: var(--fsText);
  font-weight: var(--fwMedium);
  color: var(--secondaryColor);
  background-color: var(--underlay1);
  border-radius: 1.25rem;
  cursor: pointer;
  transition: var(--transition1);
}

.btn:hover {
  background-color: var(--underlay2);
}

.category {
  color: var(--primaryColor);
}

.icon {
  color: var(--tertiaryColor);
}
