/* admin projects */

.table {
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: var(--fwRegular);
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  background-color: var(--underlay2);
}

.table thead tr th,
.table tbody tr td {
  padding: 0.75rem 0.5rem;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  padding-left: 0;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
  padding-right: 0;
}

.table tr:nth-child(even) {
  background-color: var(--underlay);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .admin {
    padding: 0 1rem;
  }
}
