/* id */

.id {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title h2 {
  margin-bottom: 0.125rem; /* override default */
}

.hodlBadge {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  font-size: var(--fontSize7);
  font-weight: var(--fwBold);
  background-color: var(--highlightColor);
}

.addresses {
  display: flex;
  gap: 1rem;
}

.addressesI {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-size: 0.9rem;
  color: var(--tertiaryColor);
  font-weight: var(--fwBold);
}

.addr {
  height: 2rem;
  padding: 0 0.5rem;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  font-weight: var(--fwMedium);
  box-shadow: 0 0 0 1px var(--underlay2);
  border-radius: 0.33rem;
  cursor: pointer;
}

.addr:hover {
  opacity: 0.8;
}

.icon {
  color: var(--colorGreen);
}
