/* APP PAGE */

/* BACK BTN */
.backBtn {
  display: inline-block;
}

.backBtn__container {
  width: 54px;
  height: 54px;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
  color: var(--gray500);
  background-color: var(--gray200);
  border-radius: 50%;
  transition: 75ms ease-out;
}

.backBtn__container:hover {
  background-color: var(--gray160);
}

/* APP DATA */
.appItem {
  padding: 24px 0;
}

.appItem__appCover {
  width: 100%;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.appItem__appInfo {
  display: flex;
  gap: 16px;
  margin: 20px 0;
}

.appItem__appInfo__date {
  margin-left: auto;
  color: var(--gray80);
  font-weight: var(--light);
}

.appItem__appInfo__appCaption__title {
  font-size: var(--fontSize4);
  font-weight: var(--black);
}

.appItem__appInfo__appCaption__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.appItem__appInfo__appCaption__tags__item {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 4px;
  background-color: var(--gray200);
  font-size: 0.9rem;
  font-weight: var(--light);
  border-radius: 6px;
}

/* NFT PREVIEWS */
.nftImgs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 8px;
}

.nftImgs__item {
  flex: calc(25% - 8px);
  max-width: 25%;
}

.nftImgs__item img {
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
}

/* TRADE BUTTON */
.appItem__tradeBtn a {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--gray180);
  transition: 75ms ease-in;
}

.appItem__tradeBtn a:hover {
  background-color: white;
  color: black;
}

/* SOCIAL MEDIA LINKS */
.appItem__socialIconsList {
  list-style-type: none;
  padding: 0;
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: var(--fontSize5);
}

.appItem__socialIconsList__item {
  background-color: var(--gray200);
  color: var(--gray100);
  border-radius: 8px;
}

.appItem__socialIconsList__item a {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 10px;

  /* color: var(--gray40); */
}

.appItem__socialIconsList__item a span {
  font-size: 15px;
}

.appItem__appInfo__logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

[data-social="Website"] {
  background-color: var(--gray200);
}

[data-social="Canister"] {
  background-color: var(--gray200);
}

[data-social="Twitter"] {
  background-color: #00acee;
}

[data-social="Discord"] {
  background-color: #5865f2;
}

[data-social="GitHub"] {
  background-color: #1b1f23;
}

[data-social="Telegram"] {
  background-color: #0088cc;
}

[data-social="Medium"] {
  background-color: var(--gray200);
}

[data-social="Dscvr"] a img,
[data-social="Distrikt"] a img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* UPDATE INFO BTN */
.twitterDmButton {
  display: inline-block;
  color: var(--gray80);
  padding: 8px 0;
  margin-top: 24px;
}

.twitterDmButton:hover {
  color: white;
  box-shadow: 0 2px 0 white;
}
