/* APP PAGE */

.appPage {
  padding: 2rem 0;
}

/* Back btn */

.backBtn__container {
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  font-size: var(--fontSize6);
  color: var(--primaryColor);
  background-color: var(--underlay);
  border-radius: 50%;
}

.backBtn__container:hover {
  background-color: var(--underlay2);
}

/* Content */

.appItem {
  padding: 1rem 0;
}

.appItem__appCover {
  width: 100%;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.appItem__appInfo {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.appItem__appInfo__date {
  margin-left: auto;
  color: var(--secondaryColor);
  font-weight: var(--light);
}

.appItem__appInfo__appCaption__title {
  font-size: var(--fontSize4);
  font-weight: var(--black);
}

.appItem__appInfo__appCaption__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.appItem__appInfo__appCaption__tags__item {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  font-weight: var(--light);
  background-color: var(--underlay);
  border-radius: 0.25rem;
}

/* NFT previews */
.nftImgs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.nftImgs__item {
  flex: calc(25% - 0.5rem);
  max-width: 25%;
}

.nftImgs__item img {
  vertical-align: middle;
  width: 100%;
  border-radius: 0.5rem;
}

/* NFT market data */

.appItem__nftMarketData {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.appItem__nftMarketData__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-shadow: var(--boxShadow);
  padding: 1rem;
  border-radius: 0.75rem;
}

.appItem__nftMarketData__item__title {
  font-weight: var(--bold);
}

/* BUTTONS */

.appItem__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.appItem__btns__item a,
.appItem__btns__item__secondary a {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: 0.5rem;
}

.appItem__btns__item a {
  background-color: var(--underlay2);
}

.appItem__btns__item__secondary a {
  box-shadow: var(--boxShadow);
}

.appItem__btns__item a:hover,
.appItem__btns__item__secondary a:hover {
  background-color: var(--primaryColor);
  color: var(--background);
}

/* Social links*/
.appItem__socialIconsList {
  padding: 0;
  margin: 0.75rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize5);
}

.appItem__socialIconsList__item {
  border-radius: 0.5rem;
}

.appItem__socialIconsList__item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 2.25rem;
  padding: 0 0.5rem;
  color: white;
}

.appItem__socialIconsList__item a span {
  font-size: var(--fontSize7);
}

.appItem__appInfo__logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

[data-social="Medium"] {
  background-color: var(--secondaryColor);
}

[data-social="Canister"],
[data-social="Dscvr"],
[data-social="Distrikt"],
[data-social="Website"],
[data-social="Medium"] {
  background-color: var(--underlay);
}

[data-social="Dscvr"] a,
[data-social="Distrikt"] a,
[data-social="Website"] a,
[data-social="Canister"] a,
[data-social="Medium"] a {
  color: var(--primaryColor);
}

[data-social="Twitter"] {
  background-color: #00acee;
}

[data-social="Discord"] {
  background-color: #5865f2;
}

[data-social="GitHub"] {
  background-color: #1b1f23;
}

[data-social="Telegram"] {
  background-color: #0088cc;
}

[data-social="Dscvr"] a img,
[data-social="Distrikt"] a img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

/* UPDATE INFO BTN */
.twitterDmButton {
  display: inline-block;
  color: var(--secondaryColor);
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.twitterDmButton:hover {
  color: var(--primaryColor);
  box-shadow: 0 2px 0 var(--primaryColor);
}
