/* btn */

.btn {
  width: 2.75rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  box-shadow: 0 0 0 2px var(--underlay1);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay1);
}

.icon {
  font-size: var(--fs5);
  color: var(--secondaryColor);
}
