/* link */

.link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 3rem;
  padding: 0 0.5rem;
  margin: 0 -1rem;
  font-size: var(--fontSize5);
  font-weight: var(--fwBold);
  border-radius: 1.5rem;
}

.link:hover {
  background-color: var(--underlay);
}

.logo {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  padding: 0.25rem;
  color: var(--highlightColor2);
}

.label {
  font-weight: var(--fwBlack);
}
