/* admin */

/* .admin {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: 0 2rem;
} */

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableContainer {
  margin-top: 1rem;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: var(--medium);
  margin-top: 1rem;
}

.table tbody tr {
  box-shadow: var(--underline);
}

.table thead tr th,
.table tbody tr td {
  padding: 0.75rem;
}

.table thead tr th:first-child,
.table tbody tr td:first-child {
  padding-left: 0;
}

.table thead tr th:last-child,
.table tbody tr td:last-child {
  padding-right: 0;
}

/* icons */

.controls {
  display: flex;
  gap: 0.5rem;
}

.controls span {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  background-color: var(--underlay);
  border-radius: 50%;
  cursor: pointer;
}

.controls span:hover {
  background-color: var(--underlay2);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .admin {
    padding: 0 1rem;
  }
}
