/* admin */

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  font-size: 0.9rem;
  font-weight: var(--medium);
  margin-top: 1rem;
}

.admin table tbody tr {
  box-shadow: var(--underline);
  cursor: pointer;
  color: var(--secondaryColor);
}

.admin table tbody tr:hover {
  background-color: var(--underlay);
  color: var(--primaryColor);
}

.admin table thead tr th,
.admin table tbody tr td {
  padding: 0.75rem 0.25rem;
}

.admin table thead tr th:first-child,
.admin table tbody tr td:first-child {
  padding-left: 0;
}

.admin table thead tr th:last-child,
.admin table tbody tr td:last-child {
  padding-right: 0;
}

/* .admin table thead tr th:nth-child(-n + 3),
.admin table tbody tr td:nth-child(-n + 3) {
  text-align: left;
} */
