/* apply by contact */

.byContact {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.field {
  flex: 1;
}

@media screen and (max-width: 639px) {
  .byContact {
    flex-direction: column;
  }

  .field {
    flex: unset;
  }
}
