/* upvote btn */

/* upvote / upvoted btns */

.upvtBtn,
.upvtdBtn {
  width: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: var(--fontSize7);
  color: var(--secondaryColor);
  background-color: var(--underlay);
  font-weight: var(--fwBold);
  border: none;
  cursor: pointer;
}

.upvtBtn:hover,
.upvtdBtn:hover {
  background-color: var(--underlay2);
}

.iconActive {
  color: var(--highlightColor2);
}

.iconDefault {
  color: var(--secondaryColor);
}
