/* upvote btn */

.upvoteBtn,
.upvotedBtn {
  width: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: var(--fontSize7);
  font-weight: var(--bold);
  color: var(--primaryColor);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.upvoteBtn {
  background-color: var(--underlay);
}

.upvotedBtn {
  background-color: var(--highlightColor2);
}
