/* footer top */

.footerTop {
  display: flex;
  gap: 1rem;
}

.footerTopI,
.footerTopI__donation {
  flex: 1;
  gap: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px var(--underlay);
}

.footerTopI__donation {
  padding: 1rem;
  display: flex;
}

.footerTop p,
.footerTopI__donation p {
  font-size: 0.9rem;
}

.footerTop p,
.footerTopI__donation p span a {
  color: var(--secondaryColor);
}

.footerTopI div:hover > div p,
.footerTopI a:hover > div p {
  color: var(--primaryColor);
}

.linkBlock {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
  cursor: pointer;
}

.title {
  font-size: var(--fontSize6);
  font-weight: var(--fwMedium);
  margin-bottom: 0.33rem;
}

.donationAddress {
  display: inline-block;
  padding: 0.5rem 0.66rem;
  margin-top: 0.5rem;
  font-family: var(--monospace);
  line-height: 150%;
  word-break: break-all;
  box-shadow: 0 0 0 1px var(--underlay);
  border-radius: 0.5rem;
}

.donationAddress:hover {
  color: var(--primaryColor);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .footerTop {
    flex-direction: column;
  }
}
