/* footer top */

.footerTop {
  display: flex;
  gap: 1rem;
}

.footerTop__i,
.footerTop__i__donation {
  flex: 1;
  gap: 0.75rem;
  border-radius: var(--br05);
  box-shadow: var(--boxShadow);
}

.footerTop__i__donation {
  padding: 1rem;
  display: flex;
}

.footerTop__i button:hover > div p,
.footerTop__i button:hover > div .footIcon,
.footerTop__i a:hover > div p,
.footerTop__i a:hover > div .footIcon {
  color: var(--primaryColor);
}

.footerTop__i__linkBlock {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}

.footIcon {
  font-size: var(--fontSize5);
  color: var(--tertiaryColor);
}

.footerTop__i__linkBlock__title {
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  margin-bottom: 0.33rem;
}

.footerTop__i__linkBlock p,
.footerTop__i__donation p,
.footerTop__i__donation p span a {
  color: var(--secondaryColor);
  font-size: 0.9rem;
}

.footerTop__i__donation p span a:hover {
  color: var(--primaryColor);
}

.footerTop__i__donation p span {
  display: inline-block;
  padding: 0.44rem 0.66rem;
  line-height: 150%;
  word-break: break-all;
  margin-top: 0.5rem;
  color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  border-radius: var(--br025);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .footerTop {
    flex-direction: column;
  }
}
