/* search */

.search {
  max-width: 24rem;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  font-size: 0.9rem;
  color: var(--primaryColor);
  background-color: var(--underlay);
  caret-color: var(--primaryColor);
  border-radius: 0.33rem;
  border: none;
  outline: none;
}

.search:focus {
  background-color: var(--underlay);
  box-shadow: inset 0 0 0 2px var(--primaryColor), 0 0 0 2px var(--underlay2);
}
