/* Submit app */

.sApp {
  padding: 2rem 0;
}

.sApp__form {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  margin: 1.5rem 0;
}

.sApp__form__group {
  display: flex;
  flex-direction: column;
}

.sApp__form__group__label {
  margin-bottom: 0.5rem;
  font-weight: var(--light);
}

.sApp__form__group__input {
  height: 3rem;
  padding: 0 1rem;
  font-size: var(--fontSize6);
  background-color: var(--underlay);
  border-radius: 0.25rem;
  border: none;
  outline: none;
  caret-color: var(--primaryColor);
  color: var(--primaryColor);
}

.sApp__form__group__input:hover,
.sApp__form__group__input:focus {
  background-color: var(--underlay2);
}

.sApp__form__group__input:focus {
  box-shadow: var(--boxShadow2);
}

.sApp__form__group__submitBtn {
  margin-top: 1.5rem;
  display: flex;
  align-self: center;
  font-size: var(--fontSize5);
  font-weight: var(--bold);
  border: none;
  color: var(--background);
  background-color: var(--primaryColor);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.recaptcha {
  margin: 0 auto;
}

/* Success */

.submissionSuccess {
  display: grid;
  place-items: center;
}

.submissionSuccess__content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--underlay);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

/* form */

/* name */

.form {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form__field__label {
  font-weight: var(--bold);
}

.form__field__label__icon {
  color: var(--secondaryColor);
}

.form__field__hint {
  font-size: var(--fontSize6);
  margin-top: 0.25rem;
  color: var(--tertiaryColor);
}

.from__field__input {
  height: 3rem;
  padding: 0 1rem;
  background-color: var(--underlay);
  border-radius: 0.25rem;
  border: none;
  outline: none;
  caret-color: var(--primaryColor);
  color: var(--primaryColor);
}

.from__field__input,
.form__field ul {
  margin-top: 1rem;
}

/* categories */

.form__field ul {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-wrap: wrap;
}

.category {
  display: none;
}

.category__div {
  padding: 0.75rem;
  border-radius: var(--br025);
  background-color: var(--underlay);
  font-weight: var(--bold);
}

.category__div:hover {
  cursor: pointer;
}

.category:checked + .category__div {
  background-color: var(--highlightColor);
}
