/* submit */

/* categories */

.field ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.category {
  display: none;
}

.category__div {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--underlay);
  font-weight: var(--bold);
}

.category__div:hover {
  cursor: pointer;
}

.category:checked + .category__div {
  background-color: var(--highlightColor);
}

.form {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formFieldLabel {
  font-weight: var(--bold);
}

.icon {
  color: var(--secondaryColor);
}

.hint {
  font-size: var(--fontSize6);
  margin-top: 0.25rem;
  color: var(--tertiaryColor);
}

.input {
  font-size: 0.9rem;
  color: var(--primaryColor);
  background-color: var(--underlay);
  caret-color: var(--primaryColor);
  padding: 0.75rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.submitBtn {
  margin-top: 1.5rem;
  display: flex;
  align-self: center;
  font-size: var(--fontSize5);
  font-weight: var(--bold);
  border: none;
  color: var(--background);
  background-color: var(--primaryColor);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

.recaptcha {
  margin: 0 auto;
}

/* success */

.submissionSuccess {
  display: grid;
  place-items: center;
}

.submissionSuccess__content {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--underlay);
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}
