/* join community */

.links {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}

.linksI {
  flex: 1;
  background-color: var(--underlay1);
  border-radius: 1rem;
}

.linksI:hover {
  background-color: var(--underlay2);
}

.linksI a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  font-weight: var(--fwBold);
}

.socIcon {
  font-size: var(--fontSize4);
}
