/* logo letter */

.logoLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: var(--fontSize4);
  font-weight: var(--fwBlack);
  color: var(--tertiaryColor);
  background-color: var(--underlay);
  border-radius: 1rem;
}
