/* NFT TABLE */

.nftTable {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 1440px;
  width: 100%;
  font-weight: var(--light);
}

.nftTable__hero {
  display: flex;
  gap: 24px;
}

.nftTable__hero__heading {
  max-width: 50%;
}

.nftTable__hero__heading h2 {
  margin-bottom: 8px;
}

.nftTable__hero__heading p {
  margin: 0 auto;
  max-width: 540px;
  font-weight: var(--light);
  color: var(--gray40);
}

.nftTable__hero__dashboard__totalVolume {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 24px;
  border-radius: 12px;
  background-color: var(--gray200);
}

.nftTable__hero__dashboard__totalVolume h4 {
  font-weight: var(--bold);
}

.nftTable__hero__dashboard__totalVolume p {
  color: var(--gray40);
}

#nftTable__msgLink {
  text-decoration: underline;
  color: var(--gray40);
}

/* name column */

[data-label="Name"] {
  font-weight: var(--medium);
}

.nftCollectionLink {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: var(--blueGray900);
  text-decoration: none;
}

.nftCollectionLink:hover {
  text-decoration: underline;
}

.nftCollectionLink__cover {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
}

/* volume column */

.volume {
  display: flex;
  flex-direction: column;
}

#volumeUsd {
  font-size: var(--fontSize7);
  color: var(--gray120);
  margin-top: 6px;
}

/* table */

.nftTable__table {
  margin: 24px auto;
  text-align: right;
  width: 100%;
  /* border-spacing: 0 12px; */
}

.nftTable__table * {
  font-family: "PT Mono", monospace;
}

thead tr th {
  font-weight: var(--bold);
}

thead tr th:nth-child(-n + 2),
tbody tr td:nth-child(-n + 2) {
  text-align: left;
}

thead tr th,
tbody tr td {
  padding: 16px 12px;
}

thead tr th:first-child {
  padding-left: 0;
  padding-right: 0;
}

tbody tr {
  box-shadow: 0 -1px 0 var(--gray180);
  color: var(--gray60);
}

tbody tr td:first-child {
  font-size: var(--fontSize7);
  padding-left: 0;
  padding-right: 0;
}

thead tr th:last-child,
tbody tr td:last-child {
  padding-right: 0;
}

/* rounded table corners */

/* td:first-child,
th:first-child {
	border-radius: 16px 0 0 16px;
}

td:last-child,
th:last-child {
	border-radius: 0 16px 16px 0;
} */

/* table responsive */

@media screen and (max-width: 1280px) {
  .nftTable__table thead tr th,
  .nftTable__table tbody tr td {
    padding: 16px;
  }
}

@media screen and (max-width: 960px) {
  .nftTable__table thead {
    display: none;
  }

  /* .nftTable__table {
		font-size: var(--fontSize5);
	} */

  .nftTable__table,
  .nftTable__table tbody,
  .nftTable__table tbody tr {
    display: block;
    width: 100%;
  }

  .nftTable__table tbody tr td {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }

  .nftTable__table tbody tr td a {
    justify-content: flex-end;
    gap: 8px;
  }

  .nftTable__table thead tr:nth-child(-n + 2),
  .nftTable__table tbody tr td:nth-child(-n + 2) {
    text-align: inherit;
  }

  .nftTable__table tbody tr {
    margin-bottom: 24px;
  }

  .nftTable__table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 24px;
    font-weight: var(--medium);
    text-align: left;
  }

  /* rounded table corners mobile */

  /* td:first-child {
		border-radius: 16px 16px 0 0;
	}

	td:last-child {
		border-radius: 0 0 16px 16px;
	} */
}
