/* SEARCH */

.search {
  margin-top: 12px;
  position: relative;
}

.search__input {
  display: flex;
  align-items: center;
  max-width: 360px;
  width: 100%;
  height: 44px;
  padding: 0 41px;
  border-radius: 8px;
  font-size: var(--fontSize6);
  color: var(--white);
  background-color: var(--gray180);
  transition: all 0.25s ease-out;
  caret-color: #11100f;

  /* clean default styles */
  border: none;
  outline: none;
}

.search__input:hover {
  background-color: var(--gray160);
}

.search__input:focus {
  color: var(--gray220);
  background-color: white;
}

.searchIcon {
  position: absolute;
  top: 14px;
  left: 15px;
  transition: all 0.25s ease-out;
}
