/* footer mid */

.footerMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  cursor: pointer;
}

/* nav */

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* socials */

.socials {
  display: flex;
  color: var(--secondaryColor);
  font-size: var(--fontSize5);
}

.socialsI a {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.socialsI a:hover {
  color: var(--background);
  background-color: var(--primaryColor);
}

/* responsive */

@media screen and (max-width: 1023px) {
  /* .footerMid {
    flex-direction: column;
  }

  .footerMidI {
    text-align: center;
    margin: auto;
  } */

  .nav {
    justify-content: center;
  }
}
