/* footer mid */

.footerMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.logo {
  cursor: pointer;
}

/* navlinks */

.navlinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.navlinksI {
  padding: 0.25rem 0;
  cursor: pointer;
}

.navlinksI:hover {
  color: var(--primaryColor);
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

/* soclinks */

.soclinks {
  display: flex;
  color: var(--secondaryColor);
  font-size: var(--fontSize5);
}

.soclinksI a {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}
.soclinksI a:hover {
  color: var(--background);
  background-color: var(--primaryColor);
}

/* responsive */

@media screen and (max-width: 1023px) {
  .footerMid {
    flex-direction: column;
  }

  .footerMidI {
    text-align: center;
    margin: auto;
  }

  .navlinks {
    justify-content: center;
  }
}
