/* profile actions */

.profileActions {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileActions button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.idImg {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.subtitle {
  font-size: var(--fontSize7);
  color: var(--highlightColor2);
}

.icon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  color: var(--highlightColor2);
}
