/* partners badge */

.partners {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--underlay);
  font-size: var(--fontSize7);
  border-radius: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: var(--fwMedium);
  gap: 0.2rem;
  margin-left: 0.33rem;
}

.logo img {
  height: 1.5rem;
}
