/* nav top */

.nav ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbar */
.nav ul::-webkit-scrollbar {
  display: none;
}

.nav ul li {
  font-size: var(--fontSize7);
  color: var(--tertiaryColor);
  white-space: nowrap;
}

.nav ul li a,
.nav ul li button {
  font-size: 0.9rem;
  font-family: var(--monospace);
  font-weight: var(--fwMedium);
  color: var(--highlightColor2);
}

.nav ul li a:hover,
.nav ul li button:hover {
  color: var(--highlightColorHover);
}
