/* main */

.main {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  font-size: var(--fs6);
  font-weight: var(--fwBlack);
  margin-top: 0.1rem;
  word-wrap: break-word;
}

.tags {
  font-size: var(--text);
  font-weight: var(--fwBold);
  color: var(--secondaryColor);
  text-transform: lowercase;
}

.description {
  font-size: var(--text);
  font-weight: var(--fwMedium);
  color: var(--tertiaryColor);
}
