/* TAGS FILTER */

.tagsFilter h6 {
  font-weight: var(--medium);
  margin-bottom: 8px;
}

.tagsFilter__content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* @media screen and (max-width: 767px) {
  .tagsFilter__content {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 92px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
} */
