/* profile */

.profile {
  margin-bottom: 20rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.badge {
  padding: 0.25rem 0.33rem;
  background-color: var(--underlay);
  border-radius: 0.33rem;
}

.upvotedProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
