/* share modal */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--backgroundRgb), 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--background);
  color: var(--primaryColor);
  margin: 1rem;
  max-width: 24rem;
  border-radius: 1.5rem;
}
