/* profile */

.pageTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--bold);
}

.pageTitle span {
  padding: 0.25rem 0.5rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
  color: var(--secondaryColor);
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.profileInfo img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

/* projects */

.projects {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.projects h3 {
  font-size: var(--fontSize4);
}

.projectsLi {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.projectsLiI {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.projectTitle {
  font-size: var(--fontSize6);
}

.tag {
  display: inline-block;
  background-color: var(--underlay);
  font-size: 0.9rem;
  font-weight: var(--bold);
  padding: 0.125rem 0.25rem;
  border-radius: 0.33rem;
}

.description {
  line-height: 133%;
  color: var(--secondaryColor);
}
