/* profile */

.profileTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--bold);
}

.profileTitle span {
  padding: 0.25rem 0.5rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
  color: var(--secondaryColor);
}

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.profileInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profileInfo img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
