.notFound {
  text-align: center;
}

.notFound p {
  color: var(--secondaryColor);
}

.notFound p span {
  cursor: pointer;
  color: var(--primaryColor);
}

.notFound p span:hover {
  text-decoration: underline;
}
