/* App */

.App {
  color: var(--primaryColor);
  background-color: var(--background);
}

/* Global styles */

a {
  text-decoration: none;
  color: var(--primaryColor);
}

ul {
  list-style-type: none;
}

::placeholder {
  color: var(--tertiaryColor);
}
