/* load more btn */

.loadMoreBtn {
  height: 3.25rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--underlay);
  margin-top: 2rem;
  padding: 0 1rem;
  border-radius: 1.625rem;
  cursor: pointer;
  border: none;
}

.loadMoreBtn:hover {
  background-color: var(--underlay2);
}
