/* load more btn */

.btn {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: var(--underlay2);
}
