/* nav bot */

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.themeSwitch {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: var(--fontSize6);
  color: var(--primaryColor);
  background-color: var(--underlay);
  cursor: pointer;
}

.themeSwitch:hover {
  opacity: 0.8;
}

.icpPriceBadge {
  height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 14px;
  font-weight: var(--fwMedium);
  color: var(--primaryColor);
  background-color: var(--underlay);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
}

.icpPriceBadge * {
  font-family: var(--monospace);
}

.icpPriceBadge div:last-of-type {
  display: flex;
  align-items: baseline;
}

.icpPriceChange,
.icpPriceChangeTime {
  font-size: 12px;
}

.icpPriceChangeTime {
  color: var(--tertiaryColor);
}
