/* nav bot */

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.themeSwitch {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: var(--fontSize6);
  color: var(--primaryColor);
  background-color: var(--underlay);
  cursor: pointer;
}

.themeSwitch:hover {
  background-color: var(--underlay2);
}

.icpPriceBadge {
  height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  font-size: var(--fontSize7);
  font-weight: var(--bold);
  background-color: var(--underlay);
  color: var(--primaryColor);
}

.icpPriceBadge div:last-of-type {
  display: flex;
  align-items: baseline;
}

.icpPriceBadge__logo {
  background-image: url("https://i.postimg.cc/SxsG0RHw/dfinity-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
}

.icpPriceChange,
.icpPriceChangeTime {
  font-size: 11px;
}

.icpPriceChangeTime {
  color: var(--tertiaryColor);
}

.icBadge {
  display: flex;
  height: 0.9rem;
}

@media screen and (max-width: 1023px) {
  .nav {
    padding: 0.5rem 1rem;
  }

  .nav__list {
    display: none;
  }

  .donateContainer {
    display: none;
  }

  .nav__menuBtn {
    display: grid;
    place-items: center;
  }
}
