/* APP LIST */

.app-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 24px;
	width: 100%;
}

.app-list__item {
	background-color: var(--gray180);
	border-radius: 16px;
}

.app-cover {
	width: 100%;
	padding-bottom: 33.33%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 16px 16px 0 0;
}

.app-name {
	font-size: var(--fontSize5);
	font-weight: var(--black);
}

.app-list__app-info {
	display: flex;
	padding: 16px;
	gap: 16px;
}

.app-list__app-info__logo {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	object-fit: cover;
}

.app-list__app-info__description {
	display: flex;
	gap: 4px;
	flex-direction: column;
}

.app-list__app-info__description__title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.app-list__app-info__description__title p {
	font-size: var(--fontSize5);
}
