/* APP LIST */

.app-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 24px;
}

.app-list__item {
	display: flex;
	flex-direction: column;
	background-color: var(--gray180);
	border-radius: 16px;
}

.link-block {
	height: 100%;
}

.app-cover {
	width: 100%;
	padding-bottom: 33.33%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 16px 16px 0 0;
}

.app-list__app-info__description__caption__title {
	font-size: var(--fontSize5);
	font-weight: var(--black);
}

.app-list__app-info {
	display: flex;
	padding: 16px 16px 16px;
	gap: 16px;
}

.app-list__app-info__logo {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	object-fit: cover;
}

.app-list__app-info__description {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.app-list__app-info__description p {
	font-weight: 300;
	color: var(--gray60);
}
