/* APP LIST */

/* TAGS */

.tags {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 4px;
}

/* ADS */

.appList__ads {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: sticky;
  top: 24px;
  align-self: flex-start;
  max-width: 200px;
  width: 100%;
}

.appList__ads__item {
  display: block;
  border-radius: 12px;
  background-color: var(--gray200);
}

.appList__ads__item__cover {
  width: 100%;
  padding-bottom: 66.66%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
}

.appList__ads__item__info {
  padding: 16px;
  font-style: italic;
}

#yourAd {
  opacity: 10%;
}

/* CONTENT */

.appList__heading {
  margin: 0 0 32px 261px;
}

.appList__content {
  display: flex;
  gap: 48px;
  margin: 0 auto;
}

.li {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 24px;
  width: 100%;
  /* max-height: 0; */
}

.li__item {
  display: flex;
  flex-direction: column;
  background-color: var(--gray200);
  border-radius: 16px;
}

.li__item:hover {
  background-color: var(--gray160);
}

.li__item__linkBlock__coverImg {
  width: 100%;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px 16px 0 0;
}

.li__item__linkBlock__appInfo {
  display: flex;
  padding: 12px;
  gap: 12px;
}

.li__item__linkBlock__appInfo__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.li__item__linkBlock__appInfo__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: var(--fontSize6);
  overflow-wrap: break-word;
}

.li__item__linkBlock__appInfo__description__title {
  font-size: var(--fontSize6);
  font-weight: var(--black);
  word-wrap: break-word;
}

.li__item__linkBlock__appInfo__description p {
  color: var(--gray60);
}

@media screen and (max-width: 1023px) {
  .appList__heading {
    margin: 0 0 32px 0;
  }

  .appList__content {
    flex-direction: column;
    gap: 24px;
  }

  .tags {
    position: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
  }

  .appList__ads {
    display: none;
  }
}
