/* sort options */

.sort {
  display: flex;
  flex-direction: column;
  font-weight: var(--fwBold);
  background-color: var(--underlay1);
  padding: 0.5rem 0;
  border-radius: 1rem;
}

.sort li {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  padding: 0 1rem;
  cursor: pointer;
}

.sort li:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--colorGreen);
}
