/* modal */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--underlay);
  color: var(--background);
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.formField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.formField label {
  font-weight: var(--bold);
  color: var(--primaryColor);
}

.input {
  width: 24rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--fontSize6);
  background-color: var(--underlay2);
  caret-color: var(--primaryColor);
  color: var(--primaryColor);
  border: none;
  outline: none;
}

.controls {
  text-align: right;
  margin-top: 1rem;
}

.submitBtn {
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  color: var(--primaryColor);
  background-color: var(--underlay2);
  padding: 0.66rem 0.75rem;
  border-radius: 0.66rem;
  border: none;
  cursor: pointer;
}
