/* submission success */

.submissionSuccess {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24rem;
}

.content {
  background-color: var(--underlay1);
  padding: 1rem;
  border-radius: 0.75rem;
}

.text {
  text-align: center;
  line-height: 150%;
  font-weight: var(--fwMedium);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
