/* description */

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.description label {
  font-weight: var(--fwBold);
  color: var(--tertiaryColor);
}

.description textarea {
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  color: var(--primaryColor);
  background-color: var(--underlay1);
  border: none;
  outline: none;
}
