/* DEVRESOURCES */

.dev p {
  margin: 8px 0;
}

.dev__hero {
  text-align: center;
  padding-bottom: 32px;
}

.dev__res {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  grid-gap: 24px;
}

.dev__res__linkBlock {
  display: block;
}

.dev__res__linkBlock__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--gray180);
  border-radius: 12px;
  height: 100%;
}

.dev__res__linkBlock__item__cover {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.dev__res__linkBlock__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: stretch;
  padding: 16px;
  height: 100%;
}

.dev__res__linkBlock__item__info__main .bodyText {
  color: var(--gray60);
}

.dev__res__linkBlock__item__info__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: stretch;
}

.dev__res__linkBlock__item__info__tag {
  display: inline-block;
  margin: 4px 0;
  padding: 6px 8px;
  background-color: var(--gray160);
  border-radius: 8px;
  color: var(--gray80);
}

.arrowIcon {
  margin-right: 4px;
}

@media screen and (max-width: 767px) {
  .dev__res {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 16px;
  }
}
