/* project submission btn */

.submitBtn {
  margin-top: 1rem;
  display: flex;
  align-self: center;
  font-size: var(--fontSize6);
  font-weight: var(--fwBold);
  color: var(--background);
  background-color: var(--highlightColor);
  padding: 0.75rem 2rem;
  border-radius: 0.33rem;
  border: none;
  cursor: pointer;
}

.submitBtn:hover:not(.disabled) {
  opacity: 0.8;
}

.disabled {
  opacity: 0.5;
  color: var(--background);
  background-color: var(--primaryColor);
}
