/* upcoming nft sales */

.t {
  text-align: right;
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;
  white-space: nowrap;
}

.t tbody tr:hover {
  background-color: var(--underlay);
  cursor: pointer;
}

.t__mainColl__title {
  font-size: var(--fontSize6);
}

.t__mainColl__description {
  font-size: 0.9rem;
  line-height: 150%;
  margin-top: 0.125rem;
  width: 16rem;
  color: var(--secondaryColor);
  white-space: normal;
}

.t thead tr th:nth-child(-n + 4),
.t tbody tr td:nth-child(-n + 4) {
  text-align: left;
}

.t thead tr th:first-child,
.t tbody tr td:first-child {
  padding-left: 0;
}

.t thead tr th:last-child,
.t tbody tr td:last-child {
  padding-right: 0;
}

.t thead tr,
.t tbody tr {
  box-shadow: var(--underlineInset);
}

.t tbody tr:last-child {
  box-shadow: none;
}

.t thead tr th,
.t tbody tr td {
  padding: 1rem;
}

/* links */

.t__links ul {
  display: flex;
  gap: 0.25rem;
}

.t__iclinks ul {
  height: 100%;
  display: block;
  overflow: auto;
}

.t__links ul li,
.t__iclinks ul li {
  color: var(--highlightColor);
  font-size: var(--fontSize7);
}

/* nft preview */

.nft__preview div {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

.nft__preview div img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* - */
