/* load more btn */

.loadMoreBtn {
  text-align: center;
  width: 100%;
  font-size: var(--fs6);
  background-color: var(--underlay);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.loadMoreBtn:hover {
  background-color: var(--underlay2);
}
