/* links */

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 1rem 0;
}

.linksI a {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--fs6);
  color: #fff;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
}

.icon {
  font-size: var(--fs5);
}

.label {
  font-weight: var(--fwBold);
}

/* not branded */

[data-social="website"] a,
[data-social="canister"] a,
[data-social="app"] a,
[data-social="docs"] a,
[data-social="whitepaper"] a,
[data-social="dscvr"] a,
[data-social="distrikt"] a,
[data-social="openchat"] a,
[data-social="taggr"] a,
[data-social="seers"] a,
[data-social="nuance"] a,
[data-social="catalyze"] a,
[data-social="medium"] a {
  background-color: var(--underlay1);
  color: var(--primaryColor);
}

[data-social="website"] a:hover,
[data-social="canister"] a:hover,
[data-social="app"] a:hover,
[data-social="docs"] a:hover,
[data-social="whitepaper"] a:hover,
[data-social="dscvr"] a:hover,
[data-social="distrikt"] a:hover,
[data-social="openchat"] a:hover,
[data-social="taggr"] a:hover,
[data-social="seers"] a:hover,
[data-social="nuance"] a:hover,
[data-social="catalyze"] a:hover,
[data-social="medium"] a:hover {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}

/* branded */

[data-social="twitter"] a {
  background-color: var(--colorTwitter);
}

[data-social="discord"] a {
  background-color: var(--colorDiscord);
}

[data-social="telegram"] a {
  background-color: var(--colorTelegram);
}

[data-social="github"] a {
  background-color: var(--colorGitHub);
}

[data-social="crowdfundingurl"] a {
  background-color: var(--colorCrowdfundNft);
}

[data-social="twitter"] a:hover,
[data-social="discord"] a:hover,
[data-social="telegram"] a:hover,
[data-social="github"] a:hover,
[data-social="crowdfundingurl"] a:hover {
  opacity: 0.8;
}
