/* Footer */

.footer {
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
  box-shadow: var(--overline);
}

.footer__content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Top */
.footer__content__top {
  display: flex;
  gap: 1rem;
}

.footer__content__top__i {
  flex: 1;
  gap: 0.75rem;
  border-radius: 1rem;
  box-shadow: var(--boxShadow);
}

.footer__content__top__i:hover {
  background-color: var(--underlay);
}

.footer__content__top__i__linkBlock {
  display: flex;
  gap: 0.75rem;
  padding: 1rem;
}

.footIcon {
  font-size: var(--fontSize5);
  color: var(--tertiaryColor);
}

.footer__content__top__i__linkBlock__title {
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  margin-bottom: 0.33rem;
}

.footer__content__top__i__linkBlock p {
  color: var(--secondaryColor);
  font-size: 0.9rem;
}

.footer__content__top__i__linkBlock p span {
  display: inline-block;
  padding: 0.44rem 0.66rem;
  line-height: 150%;
  word-break: break-all;
  margin-top: 0.5rem;
  color: var(--primaryColor);
  /* background-color: var(--underlay2); */
  font-family: var(--monospace);
  box-shadow: var(--boxShadow);
  color: var(--highlightColor);
  border-radius: 0.5rem;
}

/* Middle */

/* logo */
.footer__content__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer__content__middle__i {
  display: flex;
  gap: 0.75rem;
}

.footer__content__middle__i__logo {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.footer__content__middle__i__logo p {
  color: var(--secondaryColor);
}

/* navlist */
.footer__content__middle__i__navList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__content__middle__i__navList__i {
  padding: 0.5rem 0;
}

.footer__content__middle__i__navList__i:hover {
  color: var(--primaryColor);
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

.active {
  color: var(--primaryColor);
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

/* soclinks */
.footer__content__middle__i__socLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--secondaryColor);
  font-size: var(--fontSize5);
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .footer {
    padding: 1rem 1rem 4rem 1rem;
  }

  .footer__content__top {
    flex-direction: column;
  }
}
