/* footer */

.footer {
  width: 100%;
  padding: 3rem 2rem;
  margin-top: 1rem;
  /* box-shadow: 0 -1px 0 0 var(--underlay); */
  background-color: var(--underlay);
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .footer {
    padding: 3rem 1rem;
  }
}
