/* footer */

.footer {
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
  box-shadow: 0 -1px 0 0 var(--underlay);
  margin-top: 1rem;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* responsive */

@media screen and (max-width: 1023px) {
  .footer {
    padding: 1rem 1rem 4rem 1rem;
  }
}
