/* category list */

.categoryList {
  width: 36rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: var(--fwBold);
  background-color: var(--underlay);
  padding: 1rem;
  border-radius: 0.75rem;
}

.categoryListI {
  height: 2.25rem;
  display: flex;
  align-items: center;
  gap: 0.125rem;
  white-space: nowrap;
  padding: 0 0.5rem;
  /* background-color: var(--underlay2); */
  box-shadow: 0 0 0 2px var(--underlay2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.categoryListI:hover {
  background-color: var(--underlay2);
}

#active {
  color: white;
  background-color: var(--highlightColor);
  box-shadow: unset;
}

.categoriesNum {
  color: var(--tertiaryColor);
}

@media screen and (max-width: 479px) {
  .categoryList {
    width: 320px;
  }
}

@media screen and (max-width: 349px) {
  .categoryList {
    width: 280px;
  }
}
