/* logo component */

.logoComponent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoComponent img {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoComponent h2 {
  font-size: var(--fontSize5);
  font-weight: var(--black);
  letter-spacing: -1px;
}
