/* tabs */

.tabs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--fwBold);
  margin-bottom: 1rem;
}

.tab {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
  cursor: pointer;
}

.tab:hover:not(.active) {
  background-color: var(--underlay2);
}

.active {
  color: var(--background);
  background-color: var(--primaryColor);
}
