/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px 32px;
}

.nav__logoContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__logoContainer__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__logoContainer__logo h1 {
  font-size: var(--fontSize5);
  font-weight: var(--black);
  letter-spacing: -0.25px;
}

.nav__logoContainer__socialLinks {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__logoContainer__socialLinks__item {
  width: 40px;
  height: 40px;
  font-size: 1.1125rem;
}

.nav__logoContainer__socialLinks__item a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: all 100ms ease-in;
}

[data-smlink="Twitter"] a {
  color: #00acee;
}

[data-smlink="Twitter"] a:hover {
  color: white;
  background-color: #00acee;
}

[data-smlink="Discord"] a {
  color: #5865f2;
}

[data-smlink="Discord"] a:hover {
  color: white;
  background-color: #5865f2;
}

.icpPriceBadge {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fontSize7);
  background-color: var(--gray180);
  border-radius: 8px;
  padding: 4px 8px;
}

.icpPriceBadge__logo {
  background-image: url("https://i.postimg.cc/SxsG0RHw/dfinity-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.nav__list__item {
  height: 36px;
  display: grid;
  place-items: center;
}

.nav__list__item__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#upcomingNfts {
  font-weight: var(--bold);
}

.nav__list__item__active {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
}

.nav__list__item__content:hover:not(.donate-container) {
  -webkit-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 1);
}

/* responsive menu */

.nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  list-style-type: none;
}

.nav__menuBtn {
  display: none;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  background-color: var(--gray180);
  cursor: pointer;
  border-radius: 8px;
}

/* donate btn */

.donateBtn {
  border: none;
  font-style: normal;
  font-weight: var(--black);
  font-size: 16px;
  background: linear-gradient(
    94.95deg,
    #ffe701 -1.41%,
    #fa51d3 34.12%,
    #10d9ed 70.19%,
    #52ff53 101.95%
  );
  border-radius: 8px;
  color: var(--gray220);
  padding: 6px 7px;
  cursor: pointer;
  letter-spacing: -0.25px;
}

@media screen and (max-width: 1200px) {
  .nav {
    position: relative;
  }

  .nav__list {
    display: none;
  }

  .nav__list__active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    gap: 8px;
    position: absolute;
    top: 72px;
    right: 32px;
    padding: 24px 64px 24px 24px;
    border-radius: 16px;
    background-color: var(--gray180);
    opacity: 1;
    z-index: 1;
  }

  .nav__menuBtn {
    display: grid;
    place-items: center;
  }

  /* end responsive menu */

  /* donate area */

  .donateContainer {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .nav {
    padding: 16px;
  }

  .nav__list,
  .nav__list__active {
    right: 24px;
  }
}

@media screen and (max-width: 479px) {
  .icpPriceBadge {
    display: none;
  }
}
