/* nav */

.nav {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.divider {
  height: 1px;
  box-shadow: 0 1px 0 0 var(--underlay);
}

@media screen and (max-width: 1023px) {
  .nav {
    padding: 0.5rem 1rem;
  }
}
