/* nav */

.nav {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.divider {
  height: 1px;
  box-shadow: var(--underline);
}

/* top */

.nav__top ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* hide scrollbar */
.nav__top ul::-webkit-scrollbar {
  display: none;
}

.nav__top ul li {
  font-size: var(--fontSize7);
  color: var(--tertiaryColor);
  white-space: nowrap;
}

.nav__top ul li a,
.nav__top ul li button {
  color: var(--highlightColor2);
  font-size: var(--fontSize7);
}

.nav__top ul li a:hover,
.nav__top ul li button:hover {
  color: var(--highlightColorHover);
}

/* mid */

.nav__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.nav__mid__main {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 2rem;
  width: 2rem;
}

.logo h1 {
  color: var(--primaryColor);
  font-size: var(--fontSize5);
  font-weight: var(--black);
  letter-spacing: -1px;
}

.nav__mid__main__socLinks {
  display: flex;
}

.nav__mid__main__socLinks__item {
  width: 2.25rem;
  height: 2.25rem;
}

.nav__mid__main__socLinks__item a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

[data-smlink="Twitter"] a {
  color: #00acee;
}

[data-smlink="Twitter"] a:hover {
  color: white;
  background-color: #00acee;
}

[data-smlink="Discord"] a {
  color: #5865f2;
}

[data-smlink="Discord"] a:hover {
  color: white;
  background-color: #5865f2;
}

/* navlist */

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nav__list__item button {
  height: 2.5rem;
  font-weight: var(--bold);
}

.nav__list__item button:hover:not(.donateContainer) {
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

.nav__list__item button span {
  border-radius: var(--br025);
  color: var(--highlightColor2);
}

.nav__menuBtn {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--fontSize5);
  cursor: pointer;
  color: var(--primaryColor);
}

/* donate btn */

.donateBtn {
  font-weight: var(--bold);
  font-size: 1rem;
  padding: 0.33rem 0.66rem;
  cursor: pointer;
  letter-spacing: -0.25px;
  box-shadow: var(--boxShadow);
  border-radius: 0.5rem;
}

.donateBtn:hover {
  background: var(--underlay);
}

.donateBtn p {
  background: linear-gradient(
    94.95deg,
    #ffe701 -1.41%,
    #fa51d3 34.12%,
    #10d9ed 70.19%,
    #52ff53 101.95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* bottom */

.nav__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.themeSwitch {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: var(--fontSize6);
  color: var(--primaryColor);
  box-shadow: var(--boxShadow);
  cursor: pointer;
}

.themeSwitch:hover {
  background-color: var(--underlay);
}

.icpPriceBadge {
  height: 1.75rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  font-size: var(--fontSize7);
  box-shadow: var(--boxShadow);
  color: var(--primaryColor);
}

.icpPriceBadge div:last-of-type {
  display: flex;
  align-items: baseline;
}

.icpPriceBadge__logo {
  background-image: url("https://i.postimg.cc/SxsG0RHw/dfinity-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
}

.icpPriceChange,
.icpPriceChangeTime {
  font-size: 11px;
}

.icpPriceChangeTime {
  color: var(--tertiaryColor);
}

.icBadge {
  display: flex;
  height: 0.9rem;
}

@media screen and (max-width: 1023px) {
  .nav {
    padding: 0.5rem;
  }

  .nav__list {
    display: none;
  }

  .donateContainer {
    display: none;
  }

  .nav__menuBtn {
    display: grid;
    place-items: center;
  }
}
