/* modal */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--background);
  color: var(--primaryColor);
  margin: 1rem;
}

.formContent {
  display: flex;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.formField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.formField input,
.formField select,
.formField textarea {
  width: 16rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

#alertBtn {
  margin-right: auto;
}

.modalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalTitle h4 {
  margin-bottom: 0.5rem;
}

.modalTitle span {
  font-size: var(--fontSize5);
  cursor: pointer;
}

.timesWrapper {
  width: 100%;
  text-align: right;
}

.timesWrapper span {
  font-size: var(--fontSize5);
  cursor: pointer;
}

.twitterBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--colorTwitter);
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  color: var(--primaryColor);
  padding: 0.66rem 0.75rem;
  border-radius: 0.66rem;
  border: none;
  cursor: pointer;
}

.twitterBtn span {
  font-size: var(--fontSize5);
}
