/* upvote btn */

.upvoteBtn,
.upvotedBtn {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  color: var(--primaryColor);
  padding: 0.66rem;
  border-radius: 0.44rem;
  border: none;
  cursor: pointer;
}

.upvoteBtn:hover,
.upvotedBtn:hover {
  opacity: 0.8;
}

.upvoteBtn {
  color: white;
  background-color: var(--highlightColor);
}

.upvotedBtn {
  background-color: var(--underlay);
}
