/* upvote btn */

.upvoteBtn,
.upvotedBtn {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--fontSize6);
  font-weight: var(--bold);
  color: var(--primaryColor);
  padding: 0.66rem 0.75rem;
  border-radius: 0.66rem;
  border: none;
  cursor: pointer;
}
.upvoteBtn {
  color: white;
  background-color: var(--highlightColor2);
}

.upvotedBtn {
  background-color: var(--underlay);
}
