/* higlighted projects */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1.5rem;
}

.project {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.upvote {
  margin-left: auto;
}

.viewMoreBtn {
  margin-top: 1rem;
}

@media screen and (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

@media screen and (max-width: 374px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
