/* Homepage */

/* Hero */

.home {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.home {
  margin: 1.5rem auto;
}

.home__hero__title {
  line-height: 110%;
  color: var(--primaryColor);
}

.home__hero p {
  margin-top: 1rem;
  max-width: 24rem;
  color: var(--secondaryColor);
}

/* Sections */

.home__section__title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  color: var(--primaryColor);
}

.home__section__title h3 {
  font-size: var(--fontSize5);
}

/* Community */

.home__communityLinks__content {
  display: flex;
  gap: 1rem;
}

.home__communityLinks__content__item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  background-color: var(--gray200);
  border-radius: 24px;
}

.socIcon {
  font-size: 3rem;
}

.home__communityLinks__content__item a {
  display: grid;
  place-items: center;
  height: 2.5rem;
  border: none;
  background-color: var(--gray140);
  border-radius: 0.5rem;
  font-size: var(--fontSize6);
  font-weight: var(--black);
  color: white;
}
