/* flex */

.main {
  flex: 40%;
}

.tags {
  flex: 20%;
}

.socials {
  flex: 15%;
}

.upvote {
  flex: 10%;
}

/* upvote */

.upvote {
  display: inline-block;
}

.upvote .btn {
  float: right;
  margin-right: 1px;
}

/* responsive */

@media screen and (max-width: 639px) {
  /* flex */

  .socialsIC,
  .socials {
    display: none;
  }

  .main {
    flex: calc(60% - 1rem);
  }

  .tags {
    flex: calc(30% - 1rem);
  }

  .upvote {
    flex: calc(10% - 1rem);
  }
}

@media screen and (max-width: 479px) {
  /* flex */

  .liI {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .main {
    flex: 100%;
  }

  .tags {
    flex: calc(80% - 0.5rem);
  }

  .upvote {
    flex: calc(20% - 0.5rem);
  }
}
