/* @import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
	/* CHAKRA UI https://chakra-ui.com/docs/theming/theme */
	--color: #304ffe;
	/* --gray900: #171923;
	--gray800: #1a202c;
	--gray700: #2d3748;
	--gray500: #718096;
	--gray400: #a0aec0;
	--gray300: #cbd5e0;
	--gray200: #e2e8f0;
	--gray100: #edf2f7;
	--black: #000;
	--white: #fff; */

	/* FLUENT UI https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/neutrals */
	--gray220: #11100f;
	--gray200: #1b1a19;
	--gray180: #252423;
	--gray160: #323130;
	--gray140: #484644;
	--gray120: #797775;
	--gray100: #979593;
	--gray80: #b3b0ad;
	--gray60: #c8c6c4;
	--gray40: #e1dfdd;
	--gray20: #f3f2f1;

	--fontSize1: 3.052rem;
	--fontSize2: 2.441rem;
	--fontSize3: 1.953rem;
	--fontSize4: 1.563rem;
	--fontSize5: 1.25rem;
	--fontSize6: 1rem;

	--black: 800;
	--bold: 600;
	--medium: 400;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* font-family: "Karla", sans-serif; */
	/* font-family: "Mulish", sans-serif; */
	font-family: "Inter", sans-serif;
}

html {
	font-size: 17px; /* Root font size */
}

body {
	color: var(--gray20);
	background-color: var(--gray220);
}

/* TYPOGRAPHY */

h2 {
	color: white;
}

h3 {
	font-size: var(--fontSize4);
	color: white;
}

.body-text {
	line-height: 150%;
	font-weight: var(--medium);
	word-wrap: break-word;
}

.body-text2 {
	font-size: var(--fontSize4);
	line-height: 150%;
}

.bold {
	font-weight: var(--bold);
}

.black {
	font-weight: var(--black);
}

.gray80 {
	color: var(--gray80);
}

.gradient-text-highlight {
	background: rgb(98, 0, 234);
	background-image: linear-gradient(
		45deg,
		rgba(98, 0, 234, 1) 0%,
		rgba(48, 79, 254, 1) 100%
	);
	/* background: linear-gradient(
		45deg,
		rgba(98, 0, 234, 1) 0%,
		rgba(48, 79, 254, 1) 100%
	); */
	/* background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	padding: 4px;
	border-radius: 4px;
	color: white;
}

.monospace {
	font-family: monospace;
}

/* BUTTONS */

.submit-btn {
	background-color: white;
	color: var(--gray220);
	padding: 12px;
	border-radius: 8px;
	display: inline-block;
	font-weight: var(--bold);
}

/* NAV */

.logo-container {
	display: flex;
	align-items: center;
	gap: 16px;
}

.logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo h1 {
	color: white;
	font-size: var(--fontSize5);
	font-weight: var(--black);
	letter-spacing: -0.5px;
}

.social-icons-containter {
	font-size: var(--fontSize5);
	width: 42px;
	height: 42px;
	background-color: rgba(29, 155, 240, 0.25);
	border-radius: 100%;
}

.social-icons-containter a {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}

.icp-price-badge {
	display: flex;
	align-items: center;
	gap: 8px;
	color: white;
	background-color: var(--gray180);
	border-radius: 4px;
	padding: 8px;
}

.icp-price-badge__logo {
	background-image: url("https://i.postimg.cc/SxsG0RHw/dfinity-logo.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	height: 20px;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	padding: 24px;
	background-color: var(--gray200);
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	gap: 8px;
	font-size: var(--fontSize6);
	font-weight: var(--bold);
}

.nav-list__item {
	padding: 0 8px;
	height: 48px;
	border-radius: 4px;
	transition: all 150ms ease-in-out;
}

.nav-list__item:hover:not(.donate-container) {
	background-color: var(--gray160);
}

.nav-list__item__content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: var(--gray180);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 24px;
	z-index: 1;
	border-radius: 8px;
	top: 24px;
	width: 240px;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown span {
	color: var(--gray40);
	padding: 24px 0;
	cursor: pointer;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

/* DONATE BUTTON */

.donate-btn {
	border: none;
	font-style: normal;
	font-weight: var(--black);
	font-size: 16px;
	line-height: 24px;
	background: linear-gradient(
		94.95deg,
		#ffe701 -1.41%,
		#fa51d3 34.12%,
		#10d9ed 70.19%,
		#52ff53 101.95%
	);
	border-radius: 8px;
	color: var(--gray220);
	padding: 6px 8px;
	cursor: pointer;
	letter-spacing: -0.25px;
	/* transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
	transform: scale(1); */
}

/* .donate-btn:hover {
	opacity: 0.94;
	transform: scale(1.02);
} */

.donate-amount-input {
	color: white;
	background-color: var(--gray140);
	max-width: 64px;
	padding: 8px 10px;
	margin-right: 8px;
	font-size: var(--fontSize6);
	border: none;
	border-radius: 4px;
	/* -webkit-box-shadow: 0px 0px 0px 1px var(--gray400);
	-moz-box-shadow: 0px 0px 0px 1px var(--gray400);
	box-shadow: 0px 0px 0px 1px var(--gray400);
	-webkit-appearance: none; */
}

/* HIGHLIGHTS */

.highlights {
	margin-bottom: 32px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 24px;
}

.highlights__item {
	position: relative;
	background-color: black;
	border-radius: 12px;
	overflow: hidden;
	font-size: 0;
}

.highlights__item img {
	width: 100%;
	opacity: 0.75;
}

.highlights__item h3 {
	position: absolute;
	color: white;
	left: 20px;
	bottom: 16px;
	background-color: var(--gray900);
}

/* APP-LIST */

.highlights,
.container {
	max-width: 1440px;
	margin: 32px auto;
	padding: 0 32px;
}

.app-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	grid-gap: 24px;
	width: 100%;
}

.app-list__item {
	background-color: var(--gray180);
	border-radius: 16px;
	transition: all 150ms ease-in-out;
}

.app-list__item:hover {
	background-color: var(--gray140);
}

.app-cover {
	width: 100%;
	padding-bottom: 33.33%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 16px 16px 0 0;
}

.app-name {
	font-size: var(--fontSize5);
	font-weight: var(--black);
}

.category-btns {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	margin-bottom: 32px;
}

.category-btns__item {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 10px 8px;
	font-size: var(--fontSize5);
	font-weight: var(--bold);
	text-decoration: none;
	background-color: var(--gray180);
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	letter-spacing: -0.25px;
	transition: all 150ms ease-in-out;
}

.category-btns__item:hover:not(.category-btns__item__active) {
	background-color: var(--gray140);
}

.category-btns__item__active {
	background-color: white;
	color: var(--gray220);
}

.apps-num {
	color: var(--gray100);
}

.app-list__app-info {
	display: flex;
	padding: 16px;
	gap: 16px;
}

.app-list__app-info__logo {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	object-fit: cover;
}

.app-list__app-info__description {
	display: flex;
	gap: 4px;
	flex-direction: column;
}

.app-list__app-info__description__title {
	display: flex;
	align-items: center;
	gap: 8px;
}

.app-list__app-info__description__title p {
	font-size: var(--fontSize5);
}

/* APP-PAGE */

.app-page {
	max-width: 768px;
	margin: 0 auto;
	margin-top: 24px;
	padding: 0 32px;
}

.app-item {
	padding: 32px 0;
}

.app-item .app-name {
	font-size: var(--fontSize4);
}

.back-btn {
	display: inline-block;
}

.back-btn__div {
	width: 48px;
	height: 48px;
	display: grid;
	place-items: center;
	font-size: var(--fontSize5);
	color: var(--gray500);
	background-color: var(--gray180);
	border-radius: 50%;
}

.app-item__app-cover {
	width: 100%;
	padding-bottom: 33.33%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 12px;
}

.app-item__links-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.app-item__social-icons-list {
	list-style-type: none;
	padding: 0;
	margin: 24px 0;
	display: flex;
	gap: 24px;
	font-size: var(--fontSize3);
}

/* UPCOMING NFTS PAGE */

.upcoming-nft {
	max-width: 768px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 0 auto;
	padding: 32px;
	justify-content: flex-start;
}

.upcoming-nft__card {
	display: flex;
	flex-direction: column;
	grid-gap: 16px;
	border-radius: 24px;
	background-color: var(--gray200);
	padding: 20px;
	/* -webkit-box-shadow: 0px 0px 0px 1px var(--gray100);
	-moz-box-shadow: 0px 0px 0px 1px var(--gray100);
	box-shadow: 0px 0px 0px 1px var(--gray100);
	-webkit-appearance: none; */
}

.upcoming-nft__card__main {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: var(--fontSize5);
	width: 100%;
}

.upcoming-nft__card__main__heading {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.upcoming-nft__card__main__heading__date {
	display: flex;
	gap: 8px;
}

.upcoming-nft__card__img {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
	place-items: center;
	grid-gap: 12px;
	width: 100%;
	/* border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	overflow: hidden; */
}

/* .upcoming-nft__card__img div {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	place-items: center;
	max-width: 60%;
} */

.upcoming-nft-sales-intro h2 {
	color: white;
	margin-bottom: 8px;
}

.upcoming-nft__card__img__item {
	border-radius: 12px;
	width: 100%;
}

.upcoming-nft__card__main__social-links-list {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 16px;
}

.upcoming-nft__card__main__social-links-list__item a {
	font-weight: var(--bold);
}

.upcoming-nft__card__main__social-links-list__item a:hover {
	background: rgb(98, 0, 234);
	background-image: linear-gradient(
		45deg,
		rgba(98, 0, 234, 1) 0%,
		rgba(48, 79, 254, 1) 100%
	);
	/* background: linear-gradient(
		45deg,
		rgba(98, 0, 234, 1) 0%,
		rgba(48, 79, 254, 1) 100%
	); */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* NFT LIST */

.nft-list {
	margin: 48px auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	padding: 0 16px;
}

/* OTHER */

.center {
	margin: 0 auto;
	text-align: center;
}

/* MEDIA SCREEN */

@media screen and (max-width: 768px) {
	html {
		font-size: 16px;
	}

	.highlights,
	.container {
		padding: 0 16px;
	}

	.nav {
		padding: 16px;
	}

	.nav-list {
		gap: 0;
		font-size: var(--fontSize5);
	}

	.category-btns {
		gap: 8px;
	}

	.app-list {
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	}

	.app-page,
	.upcoming-nft {
		padding: 0 16px;
	}

	.upcoming-nft__card {
		padding: 16px;
	}

	.upcoming-nft__card__img {
		max-width: 100%;
	}
}

/* TABLE */

.nft-table {
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 0 1em;
	text-align: right;
	border-radius: 16px;
}

.nft-table thead tr {
	border-bottom: 1px solid var(--gray180);
}

.nft-table thead tr th,
.nft-table tbody tr td {
	padding: 16px 32px;
}

.nft-table tbody tr {
	display: table-row;
	border-radius: 16px;
	border-bottom: 1px solid var(--gray180);
	background-color: var(--gray200);
}

.nft-table tbody tr:last-child {
	border-bottom: none;
}

.nft-table thead tr:nth-child(-n + 2),
.nft-table tbody tr td:nth-child(-n + 2) {
	text-align: left;
}

.nft-table tbody tr td a {
	display: flex;
	align-items: center;
	gap: 16px;
}

.nft-table tbody tr td img {
	height: 58px;
	width: 58px;
	border-radius: 4px;
	object-fit: cover;
}

/* rounded table corners */

td:first-child,
th:first-child {
	border-radius: 16px 0 0 16px;
}

td:last-child,
th:last-child {
	border-radius: 0 16px 16px 0;
}

/* table responsive */

@media screen and (max-width: 1280px) {
	.nft-table thead tr th,
	.nft-table tbody tr td {
		padding: 16px;
	}
}

@media screen and (max-width: 960px) {
	.nft-table thead {
		display: none;
	}

	.nft-table {
		font-size: var(--fontSize5);
	}

	.nft-table,
	.nft-table tbody,
	.nft-table tbody tr {
		display: block;
		width: 100%;
	}

	.nft-table tbody tr td {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		border: 1px solid var(--gray160);
	}

	.nft-table tbody tr td a {
		justify-content: flex-end;
		gap: 8px;
	}

	.nft-table thead tr:nth-child(-n + 2),
	.nft-table tbody tr td:nth-child(-n + 2) {
		text-align: inherit;
	}

	.nft-table tbody tr {
		margin-bottom: 24px;
	}

	.nft-table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 24px;
		font-weight: var(--bold);
		text-align: left;
	}

	/* rounded table corners mobile */

	td:first-child {
		border-radius: 16px 16px 0 0;
	}

	td:last-child {
		border-radius: 0 0 16px 16px;
	}
}
