/* INTER */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800&display=swap"); */

/* MULISH */
/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap"); */

/* KARLA */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400&display=swap");

/* WORK SANS */
/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400&display=swap"); */

/* MONO */

/* PT MONO */
/* @import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap"); */

/* INCOSOLATA */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;800;900&display=swap");

:root {
  /* FLUENT UI https://developer.microsoft.com/en-us/fluentui#/styles/web/colors/neutrals */

  /* COLORS */
  --gray220: #11100f;
  --gray200: #1b1a19;
  --gray180: #252423;
  --gray160: #323130;
  --gray140: #484644;
  --gray120: #797775;
  --gray100: #979593;
  --gray80: #b3b0ad;
  --gray60: #c8c6c4;
  --gray40: #e1dfdd;
  --gray20: #f3f2f1;

  /* FONT SIZE */
  --fontSize1: 3.052rem;
  --fontSize2: 2.441rem;
  --fontSize3: 1.953rem;
  --fontSize4: 1.563rem;
  --fontSize5: 1.25rem;
  --fontSize6: 1rem;
  --fontSize7: 0.8rem;

  /* FONT WEIGHT */
  --black: 800;
  --bold: 600;
  --medium: 400;
  --light: 300;
  --extraLight: 200;

  /* FONT FAMILY */
  /* --font: "Work Sans", sans-serif; */
  --font: "Karla", sans-serif;
  /* --font: "Mulish", sans-serif; */
  /* --font: "Inter", sans-serif; */
  /* --monospace: "PT Mono", monospace; */
  --monospace: "Inconsolata", monospace;

  /* Box-shadow */
  --boxShadow180Inset: inset 0 0 0 1px var(--gray180);
}

/* MAIN */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

html {
  font-size: 17px; /* Root font size */
}

/* CONTAINERS */
.container768,
.container1280,
.container1440,
.container1600 {
  margin: 0 auto;
}

.container768 {
  max-width: 768px;
}

.container1280 {
  max-width: 1280px;
}

.container1440 {
  max-width: 1440px;
}

.container1600 {
  max-width: 1600px;
}

/* GLOBAL STYLES */

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--black);
}

h1 {
  font-size: var(--fontSize1);
}

h2 {
  font-size: var(--fontSize2);
}

h3 {
  font-size: var(--fontSize3);
}

h4 {
  font-size: var(--fontSize4);
}

h5 {
  font-size: var(--fontSize5);
}

h6 {
  font-size: var(--fontSize6);
}

.bodyText,
.bodyTextLight,
.bodyText2,
.subtitle {
  line-height: 140%;
  word-wrap: break-word;
}

.bodyText {
  font-weight: var(--medium);
}

.bodyTextLight {
  font-weight: var(--light);
}

.bodyText2 {
  font-size: var(--fontSize4);
}

.subtitle {
  font-size: var(--fontSize7);
}

.gray40 {
  color: var(--gray40);
}

.gray60 {
  color: var(--gray60);
}

.gray80 {
  color: var(--gray80);
}

/* UNSORTED */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.gradient-text-highlight {
  background: rgb(98, 0, 234);
  background-image: linear-gradient(
    45deg,
    rgba(98, 0, 234, 1) 0%,
    rgba(48, 79, 254, 1) 100%
  );
  padding: 4px;
  border-radius: 4px;
  color: white;
}

.monospace {
  font-family: monospace;
}
