/* coll stats */

.title {
  font-size: var(--fs6);
}

.collStats ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.collStats ul li {
  background-color: var(--underlay);
  padding: 1rem;
  border-radius: 1rem;
  white-space: nowrap;
}

.collStatsInfo {
  white-space: normal;
  word-wrap: break-word;
}

.label {
  font-size: var(--fs7);
  font-weight: var(--fwBold);
  color: var(--tertiaryColor);
  margin-bottom: 0.125rem;
}

.text {
  line-height: 150%;
  font-weight: var(--fwBold);
}
