/* tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
  font-size: var(--fontSize7);
  font-weight: var(--fwMedium);
}

.tags li {
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.33rem;
  padding: 0 0.33rem;
  background-color: var(--underlay);
  border-radius: 0.5rem;
}
