/* tags */

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: center;
}

.tags li {
  height: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
  font-size: var(--fsText);
  font-weight: var(--fwBold);
  color: var(--secondaryColor);
  background-color: var(--underlay);
  border-radius: 0.5rem;
}
