/* menu */

.menu,
.crossIcon {
  padding: 1rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--underlay1);
  border-radius: 1rem;
}

.crossIcon {
  position: absolute;
  top: 0;
  right: 0;
}

.menuI {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  margin-right: 4rem;
  cursor: pointer;
}

.idAddr {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.text {
  font-weight: var(--fwBold);
}

.subtitle {
  font-size: var(--fs7);
  color: var(--highlight3);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

hr.div {
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid var(--underlay2);
}
