/* contact */

.title {
  font-size: var(--fontSize6);
  margin-bottom: 0.5rem;
}

.contact ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.9rem;
}
