/* Top NFT collections */

.topNftTable {
  text-align: right;
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;
  white-space: nowrap;
  margin-top: 0.75rem;
}

.topNftTable thead tr th,
.topNftTable tbody tr td {
  box-shadow: var(--underlineInset);
}

.topNftTable thead tr th:nth-child(2),
.topNftTable tbody tr td:nth-child(2) {
  position: sticky;
  left: 0;
  background-color: var(--background);
}

.topNftTable thead tr th:nth-child(-n + 2),
.topNftTable tbody tr td:nth-child(-n + 2) {
  text-align: left;
}

.topNftTable tbody tr td:nth-child(2) {
  font-weight: var(--medium);
}

.topNftTable td,
.topNftTable th {
  margin: 0;
  white-space: nowrap;
  border-top-width: 0px;
}

.topNftTable__link {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.topNftTable__link:hover {
  text-decoration: underline;
}

.topNftTable__link img {
  height: 2.25rem;
  width: 2.25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* cell */
.cell {
  display: flex;
  flex-direction: column;
}

.cellSpan {
  font-size: var(--fontSize7);
  color: var(--tertiaryColor);
  margin-top: 0.25rem;
}

/* table */
.topNftTable thead tr th {
  font-weight: var(--bold);
}

.topNftTable thead tr th,
.topNftTable tbody tr td {
  padding: 1rem 0.75rem;
}

.topNftTable thead tr th:first-child,
.topNftTable tbody tr td:first-child {
  padding-left: 0;
  padding-right: 0;
}

.topNftTable tbody tr td:first-child {
  font-size: var(--fontSize7);
}

.topNftTable thead tr th:last-child,
.topNftTable tbody tr td:last-child {
  padding-right: 0;
}

.green {
  color: var(--colorGreen);
}

.red {
  color: var(--colorRed);
}
