/* theme */

.light {
  --primaryColor: var(--coolGray100);
  --secondaryColor: var(--coolGray70);
  --tertiaryColor: var(--coolGray50);
  --highlightColor: #304ffe;
  --highlightColorHover: #8c9eff;
  --highlightColor2: #536dfe;
  --background: white;
  --link-color: var(--gray220);
  --underlay: var(--coolGray10);
  --underlay2: var(--coolGray20);
  --underlay3: var(--coolGray30);
  --boxShadow: 0 0 0 1px var(--coolGray20);
  --boxShadowInset: inset 0 0 0 1px var(--coolGray20);
  --boxShadowActive: 0 0 0 1px var(--coolGray100);
  --boxShadow2: 0 0 0 1px var(--coolGray30);
  --underline: 0 1px 0 0 var(--coolGray10);
  --overline: 0 -1px 0 0 var(--coolGray20);
  --underlineInset: inset 0 -1px 0 var(--coolGray10);
  --boxShadowLighter: 0 0 0 1px var(--coolGray70);
  --underlayLighter: var(--coolGray80);
}

.dark {
  --primaryColor: white;
  --secondaryColor: var(--coolGray30);
  --tertiaryColor: var(--coolGray50);
  --highlightColor: #304ffe;
  --highlightColorHover: #8c9eff;
  --highlightColor2: #536dfe;
  --background: var(--coolGray100);
  --link-color: white;
  --underlay: var(--coolGray90);
  --underlay2: var(--coolGray80);
  --underlay3: var(--coolGray70);
  --boxShadow: 0 0 0 1px var(--coolGray90);
  --boxShadowInset: inset 0 0 0 1px var(--coolGray90);
  --boxShadowActive: 0 0 0 1px var(--coolGray10);
  --boxShadow2: 0 0 0 1px var(--coolGray80);
  --underline: 0 1px 0 0 var(--coolGray90);
  --overline: 0 -1px 0 0 var(--coolGray90);
  --underlineInset: inset 0 -1px 0 var(--coolGray90);
  --boxShadowLighter: 0 0 0 1px var(--coolGray30);
  --underlayLighter: var(--coolGray20);
}
