/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fwExtraBold);
  line-height: 100%;
}

h1 {
  font-size: var(--fontSize1);
}

h2 {
  font-size: var(--fontSize2);
}

h3 {
  font-size: var(--fontSize3);
}

h4 {
  font-size: var(--fontSize4);
}

h5 {
  font-size: var(--fontSize5);
}

h6 {
  font-size: var(--fontSize6);
}

.text,
.subtitle {
  line-height: 150%;
  word-wrap: break-word;
}

.text {
  font-weight: var(--fwRegular);
}

.subtitle {
  font-size: var(--fontSize7);
}
