/* categories */

.categories {
  margin-bottom: 1rem;
}

.categories ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.label {
  font-weight: var(--fwMedium);
  color: var(--secondaryColor);
  margin: 1rem 0;
}

.categoryHidden {
  display: none;
}

.category {
  font-weight: var(--fwMedium);
  background-color: var(--underlay);
  padding: 0.5rem;
  cursor: pointer;
}

.category:hover {
  background-color: var(--underlay2);
}

.categoryHidden:checked + .category {
  color: white;
  background-color: var(--highlightColor);
}
