/* filter btn */

.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.75rem;
  font-weight: var(--fwBold);
  color: var(--tertiaryColor);
  background-color: var(--underlay1);
  border-radius: 1.25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.category {
  color: var(--primaryColor);
}

.icon {
  color: var(--tertiaryColor);
}
