/* view more btn */

.btn {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  background-color: var(--underlay);
  padding: 0 1rem;
  margin-top: 1rem;
  border-radius: 0.33rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--tertiaryColor);
}
