/* view more btn */

.btn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  text-align: center;
  background-color: var(--underlay);
  padding: 0.75rem;
  margin-top: 0.75rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--tertiaryColor);
}
