/* title */

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h3 {
  font-size: var(--fontSize3);
  font-weight: var(--fwBlack);
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tagsI {
  display: inline-block;
  padding: 0.5rem;
  font-size: var(--fontSize6);
  font-weight: var(--fwBold);
  background-color: var(--underlay);
  border-radius: 0.5rem;
}
