/* nft previews */

.nftImgs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.nftImgsI {
  width: 100%;
  vertical-align: middle;
  border-radius: 1rem;
}
