/* mobile navlink */

.navlink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0;
  cursor: pointer;
}

.label {
  font-weight: var(--fwMedium);
}

.icon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  color: var(--highlightColor2);
}
