/* cross icon */

.crossIcon {
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.crossIcon:hover > .icon:before,
.crossIcon:hover > .icon:after {
  background-color: var(--primaryColor);
}

.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.icon:before,
.icon:after {
  position: absolute;
  left: 10px;
  content: "";
  height: 1.5rem;
  width: 2px;
  border-radius: 1px;
  background-color: var(--secondaryColor);
}

.icon:before {
  transform: rotate(45deg);
}

.icon:after {
  transform: rotate(-45deg);
}
