/* category btn */

.btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0 0.25rem;
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
  color: var(--tertiaryColor);
  background-color: var(--underlay);
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.category {
  font-weight: var(--fwBold);
  color: #fff;
  background-color: var(--highlightColor);
  padding: 0.25rem 0.33rem;
  border-radius: 0.5rem;
}

.icon {
  color: var(--tertiaryColor);
}
