/* title */

.titleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.1rem;
  padding-bottom: 0.33rem;
}

.title {
  font-size: var(--fontSize6);
  line-height: 133%;
}

.companyName {
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  color: var(--secondaryColor);
}

.category {
  font-size: var(--fontSize7);
  font-weight: var(--fwMedium);
  color: var(--secondaryColor);
  background-color: var(--underlay2);
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
}
