/* HOMEPAGE TAGS ITEM */

.tagsItem {
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 0 12px;
  font-size: var(--fontSize6);
  font-weight: var(--medium);
  color: white;
  background-color: var(--gray220);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.active {
  background-color: var(--gray160);
}

.tagsItem:hover:not(.tagsItem.active) {
  background-color: var(--gray180);
}

.tagsItem__icon {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  font-size: var(--fontSize5);
}

.tagsItem__projectsNum {
  color: var(--gray100);
  font-weight: var(--light);
}

@media screen and (max-width: 1023px) {
  .tagsItem {
    background-color: var(--gray200);
  }

  .active {
    background-color: var(--gray140);
  }
}
