/* app page */

.appPage {
  padding: 2rem 0;
}

/* content */

.app {
  padding: 1rem 0;
}

.app__cover {
  width: 100%;
  padding-bottom: 33.33%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
}

.app__info {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.app__info__logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.app__info__caption__title {
  font-size: var(--fontSize5);
  font-weight: var(--black);
}

.app__info__date {
  margin-left: auto;
  color: var(--secondaryColor);
  white-space: nowrap;
}

.app__info__caption__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.app__info__caption__tags__item {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  box-shadow: var(--boxShadow2);
  border-radius: 0.25rem;
}

/* nft previews */

.nftImgs {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
  gap: 0.5rem;
}

.nftImgs__item {
  flex: calc(25% - 0.5rem);
  max-width: 25%;
}

.nftImgs__item img {
  vertical-align: middle;
  width: 100%;
  border-radius: 0.5rem;
}

/* nft market data */

.nftMarketData {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.nftMarketData__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  box-shadow: var(--boxShadow);
  padding: 1rem;
  border-radius: 0.75rem;
}

.nftMarketData__item h5 {
  font-weight: var(--bold);
  font-size: var(--fontSize6);
}

/* btns */

.trade__btn {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: var(--br05);
  background-color: var(--underlay);
  margin-bottom: 1rem;
}

.trade__btn span {
  font-size: var(--fontSize7);
}

.trade__btn:hover {
  background-color: var(--underlay3);
}

/* social links*/

.links {
  padding: 0;
  margin: 0.75rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: var(--fontSize5);
}

.links__item {
  border-radius: 0.5rem;
}

.links__item:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.links__item a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0 0.5rem;
  color: white;
}

.links__item a span {
  font-size: var(--fontSize7);
}

[data-social="Canister"],
[data-social="Dscvr"],
[data-social="Distrikt"],
[data-social="Website"],
[data-social="Medium"],
[data-social="App"] {
  background-color: var(--underlay);
  color: var(--primaryColor);
}

[data-social="Canister"] a,
[data-social="Dscvr"] a,
[data-social="Distrikt"] a,
[data-social="Website"] a,
[data-social="Medium"] a,
[data-social="App"] a {
  color: var(--primaryColor);
}

[data-social="Twitter"] {
  background-color: #00acee;
}

[data-social="Discord"] {
  background-color: #5865f2;
}

[data-social="GitHub"] {
  background-color: #1b1f23;
}

[data-social="Telegram"] {
  background-color: #0088cc;
}

[data-social="Dscvr"] a img,
[data-social="Distrikt"] a img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

/* edit info btn */

.twitterDmButton {
  display: inline-block;
  color: var(--secondaryColor);
  padding: 0.5rem 0;
  margin-top: 1.5rem;
}

.twitterDmButton:hover {
  color: var(--primaryColor);
  box-shadow: 0 2px 0 var(--primaryColor);
}

/* - */

.nftSaleStatus {
  background-color: var(--underlay2);
}

/* expandable text */

.expandable {
  background-color: var(--underlay);
  padding: 0.75rem;
  border-radius: var(--br05);
}

.expandable__content {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.expandable__content p {
  font-size: var(--fontSize7);
  line-height: 150%;
  color: var(--secondaryColor);
}

.readMoreBtn {
  font-size: var(--fontSize7);
  font-weight: var(--black);
  color: var(--secondaryColor);
}

/* rename app to project */

.project__collectionStats {
  margin: 1rem 0;
}

.project__collectionStats ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem 0;
}

.project__collectionStats ul li {
  background-color: var(--underlay);
  padding: 0.75rem;
  border-radius: var(--br05);
  flex: 1;
}

.project__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.project__btns a span {
  color: var(--secondaryColor);
}

.collectionStats {
  font-size: var(--fontSize5);
}
