/* title */

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title h2 {
  margin-bottom: 0.125rem; /* override default */
}

.badge {
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: white;
  font-size: var(--fs7);
  font-weight: var(--fwBold);
  background-color: var(--highlight1);
}
