/* Tags Item */

.tagsItem {
  position: relative;
}

.tagsItem input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.tagsItem__content {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 36px;
  padding: 0 0.5rem;
  color: var(--gray80);
  box-shadow: 0 0 0 1px var(--gray160);
  border-radius: 0.25rem;
}

.tagsItem input:checked ~ .tagsItem__content {
  color: white;
  box-shadow: 0 0 0 1px white;
}

/* img */
.tagImg {
  height: 18px;
  width: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
