/* submit btn */

.btn {
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.75rem;
  font-weight: var(--fwMedium);
  color: var(--primaryColor);
  background-color: var(--underlay);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.icon {
  color: var(--tertiaryColor);
}
