/* sort options btn */

.btn {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 0.9rem;
  font-weight: var(--fwMedium);
  color: var(--secondaryColor);
  background-color: var(--underlay);
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--underlay2);
}

.category {
  font-size: 0.9rem;
  font-weight: var(--fwBold);
  color: var(--primaryColor);
}

.icon {
  color: var(--tertiaryColor);
}
