/* original post btn */

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--highlightColor);
  color: #fff;
  border-radius: 0.33rem;
}

.link:hover {
  background-color: var(--highlightColor2);
}

.icon {
  opacity: 0.66;
}
