/* nav */

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--background);
  height: 64px;
  padding: 0.5rem 2rem;
}

@media screen and (max-width: 1023px) {
  .nav {
    padding: 0.5rem 1rem;
  }
}
