/* navlink */

.navlink {
  padding: 1rem 0;

  font-weight: var(--bold);
  cursor: pointer;
}

.navlink:hover {
  box-shadow: 0px 2px 0px 0px var(--primaryColor);
}

.icon {
  color: var(--highlightColor2);
}
