/* description */

.description {
  background-color: var(--underlay1);
  padding: 1rem;
  border-radius: 1rem;
}

.title {
  font-size: var(--fs5);
  margin-bottom: 0.25rem;
}

.text {
  font-size: var(--fs5);
  line-height: 150%;
}
