/* description */

.subtitle {
  font-size: var(--fontSize6);
  margin-bottom: 0.25rem;
}

.description {
  background-color: var(--underlay);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.text {
  font-size: 0.9rem;
  line-height: 150%;
}
