/* root */

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

/* Inconsolata */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap");

:root {
  /* Cool Gray IBM https://www.ibm.com/design/language/color/ */

  --coolGray100: #121619;
  --coolGray100Rgb: 18, 22, 25;
  --coolGray90: #21272a;
  --coolGray80: #343a3f;
  --coolGray70: #4d5358;
  --coolGray60: #697077;
  --coolGray50: #878d96;
  --coolGray40: #a2a9b0;
  --coolGray30: #c1c7cd;
  --coolGray20: #dde1e6;
  --coolGray10: #f2f4f8;
  --coolGray10Rgb: 242, 244, 248;

  --black: #000000;
  --white: #ffffff;

  /* system colors */

  --colorGreen: #64dd17;
  --colorRed: #fa4d56;
  --colorOrange: #ff3d00;
  --colorNeutral: (var(--coolGray60));

  /* social colors */

  --colorTwitter: #00acee;
  --colorDiscord: #5865f2;
  --colorTelegram: #0088cc;
  --colorFacebook: #1877f2;
  --colorLinkedIn: #1877f2;
  --colorReddit: #ff5700;
  --colorGitHub: #1b1f23;
  --colorEntrepot: #53bfa8;

  /* font-size */

  --fontSize1: 3.052rem;
  --fontSize2: 2.441rem;
  --fontSize3: 1.953rem;
  --fontSize4: 1.563rem;
  --fontSize5: 1.25rem;
  --fontSize6: 1rem;
  --fontSize7: 0.8rem;

  /* font-weight fw */

  --fwBlack: 900;
  /* --fwExtraBold: 800; */
  --fwBold: 700;
  /* --fwSemiBold: 600; */
  --fwMedium: 500;
  --fwRegular: 400;

  /* font-family */

  --fontFamily: "Inter", sans-serif;
  --monospace: "Inconsolata", monospace;
}
