/* theme */

.light {
  --primaryColor: var(--coolGray100);
  --secondaryColor: var(--coolGray70);
  --tertiaryColor: var(--coolGray50);
  --highlightColor: #304ffe;
  /* --highlightColorRgb: rgb(48, 79, 254); */
  --highlightColorRgb: 48, 79, 254;
  --highlightColor2: #536dfe;
  --highlightColor3: #8c9eff;
  --background: #fff;
  --underlay: var(--coolGray10);
  --underlay2: var(--coolGray20);
  --underlay3: var(--coolGray30);
}

.dark {
  --primaryColor: var(--coolGray10);
  --secondaryColor: var(--coolGray30);
  --tertiaryColor: var(--coolGray50);
  --highlightColor: #304ffe;
  --highlightColorRgb: 48, 79, 254;
  --highlightColor2: #536dfe;
  --highlightColor3: #8c9eff;
  --background: var(--coolGray100);
  --underlay: var(--coolGray90);
  --underlay2: var(--coolGray80);
  --underlay3: var(--coolGray70);
}
