/* logo component */

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo img {
  height: 2rem;
}

.logo h1 {
  visibility: hidden;
  font-size: var(--fontSize5);
  font-weight: var(--fwBold);
  letter-spacing: -0.5px;
}
