/* logo component */

.logoComponent {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logoComponent img {
  width: 2.25rem;
  height: 2.25rem;
}

.logoComponent h1 {
  font-size: var(--fontSize5);
  font-weight: var(--black);
  letter-spacing: -1px;
}
