/* tags */

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tagsI {
  display: inline-block;
  padding: 0.5rem;
  font-size: var(--fontSize6);
  font-weight: var(--fwBold);
  background-color: var(--underlay);
  border-radius: 0.5rem;
}

#open {
  color: var(--primaryColor);
  background-color: var(--underlay);
}

#onchain {
  color: #fff;
  background-color: var(--highlightColor3);
}

#grantee {
  color: #fff;
  background-color: var(--colorGreen);
}
