* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--fontFamily);
}

html {
  font-size: 16px; /* root font size */
}

body {
  background-color: var(--primaryColor);
}

.app {
  color: var(--primaryColor);
  background-color: var(--background);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  /* stick footer to bottom https://kiranworkspace.com/how-to-stick-footer-to-bottom-of-page/ */
}

.content {
  padding: 0 2rem;
  max-width: calc(2048px + 4rem);
  margin: 0 auto;
  width: 100%;
}

.main {
  margin-left: 200px;
}

/* global styles */

a {
  text-decoration: none;
  color: var(--primaryColor);
}

button {
  font-size: var(--fontSize6);
  font-weight: var(--fwMedium);
  color: var(--primaryColor);
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}

::placeholder {
  color: var(--tertiaryColor);
}

/* global classes */

/* global classes – btns */

.submitBtn {
  margin-top: 2rem;
  font-size: var(--fontSize6);
  font-weight: var(--fwMedium);
  color: #fff;
  background-color: var(--highlightColor);
  padding: 0.75rem 1rem;
  border-radius: 0.33rem;
  border: none;
  cursor: pointer;
}

.submitBtn:hover:not(.disabled) {
  opacity: 0.8;
}

.primaryBtn,
.secondaryBtn,
.alertBtn {
  font-weight: var(--fwBold);
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  border-radius: 0.66rem;
}

.primaryBtn {
  color: white;
  background-color: var(--highlightColor);
}

.primaryBtn:hover {
  background-color: var(--highlightColor2);
}

.secondaryBtn {
  color: var(--primaryColor);
  background-color: var(--underlay);
}

.secondaryBtn:hover {
  background-color: var(--underlay2);
}

.alertBtn {
  color: white;
  background-color: var(--colorRed);
}

/* global classes – inputs */

.label {
  display: inline-block;
  align-self: flex-start;
  font-weight: var(--fwMedium);
  color: var(--secondaryColor);
}

.input {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  margin: 0.5rem 0;
  font-size: var(--fontSize6);
  color: var(--primaryColor);
  background-color: var(--underlay);
  caret-color: var(--primaryColor);
  border-radius: 0.33rem;
  border: none;
  outline: none;
}

.input:focus {
  background-color: var(--underlay2);
}

.hint {
  font-size: var(--fontSize7);
  color: var(--secondaryColor);
}

/* other */

.pageTitle {
  font-size: var(--fontSize2);
  line-height: 125%;
  margin-bottom: 0.5rem;
}

/* cookie */

.cookie {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 3rem;
  padding: 0 1rem;
  color: var(--primaryColor);
  background: var(--underlay);
  border-radius: 0.33rem;
}

.cookie * {
  font-size: 0.9rem;
}

.cookie__content {
  padding-right: 0.5rem;
  color: var(--secondaryColor);
}

.cookie__btn {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: var(--fwBold);
  text-decoration: none;
  background-color: var(--highlightColor);
  padding: 0.125rem 0.25rem;
  border-radius: 0.33rem;
  border: none;
  cursor: pointer;
}

.cookie__btn:hover {
  background-color: var(--highlightColor2);
}

.cookie__link {
  color: var(--primaryColor);
}

.cookie__link:hover {
  text-decoration: underline;
}

/* responsive */

@media screen and (max-width: 1023px) {
  html {
    font-size: 15px; /* Root font size */
  }

  .content {
    padding: 1rem;
  }

  .main {
    margin-left: unset;
  }
}
