.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.pagination span {
  font-size: var(--fsText);
  color: var(--secondaryColor);
}

/* react paginate */

.containerClassName {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.pageLinkClassName,
.previousLinkClassName,
.nextLinkClassName,
.breakLinkClassName {
  display: inline-block;
  padding: 0.75rem;
  cursor: pointer;
  transition: var(--transition1);
  background-color: var(--underlay1);
  font-size: var(--fsText);
}

.pageLinkClassName:hover,
.previousLinkClassName:hover,
.nextLinkClassName:hover,
.breakLinkClassName:hover {
  background-color: var(--underlay2);
}

.activeLinkClassName {
  color: #fff;
  background-color: var(--highlight2);
  box-shadow: unset;
}
