/* socials */

.socials {
  display: flex;
  color: var(--secondaryColor);
  font-size: var(--fs5);

  /* align to the block above */
  margin-left: -0.5rem;
  margin-top: -0.25rem;
}

.socialsI a {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.socialsI a:hover {
  color: var(--backgroundColor);
  background-color: var(--primaryColor);
}
