/* mobile */

.mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.hide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

@media screen and (max-width: 359px) {
  .hide {
    display: none;
  }
}
