/* modal */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content {
  padding: 1rem 3rem;
  background-color: var(--background);
  color: var(--primaryColor);
  margin: 1rem;

  /* overflow */
  height: 100%;
  overflow: auto;
}

.formContent {
  display: flex;
  gap: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 20rem;
}

.sectionTitle {
  font-size: var(--fontSize6);
  font-weight: var(--fwMedium);
  margin-bottom: 0.5rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

#alertBtn {
  margin-right: auto;
}

.deleteContainer {
  margin-right: auto;
  display: flex;
  gap: 0.75rem;
}
