/* ids */

.ids {
  display: flex;
  gap: 1rem;
}

.idsI {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.label {
  font-size: var(--fsText);
  color: var(--tertiaryColor);
  font-weight: var(--fwBold);
}

.idValue {
  height: 2rem;
  padding: 0 0.5rem;
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  font-weight: var(--fwBold);
  color: var(--secondaryColor);
  box-shadow: 0 0 0 1px var(--underlay2);
  border-radius: 0.33rem;
  cursor: pointer;
}

.idValue:hover {
  color: var(--primaryColor);
}

.copied {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--primaryColor);
}

.icon {
  color: var(--colorOk);
}
