/* footer bot */

.footerBot {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: var(--fontSize7);
}

.icBadge,
.footerBot a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icBadgeText {
  color: var(--secondaryColor);
}

.icLogo {
  max-width: 1.25rem;
}

.copy {
  color: var(--secondaryColor);
}
