/* logo component */

.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

.img {
  height: 1.75rem;
}

.title {
  visibility: hidden;
  width: 0;
}
