/* mobile menu modal */

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 1rem;
}

.content,
.crossIcon {
  padding: 1rem;
}

.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  background-color: var(--background);
  border: 1px solid var(--underlay);
  border-radius: 1rem;
}

.crossIcon {
  position: absolute;
  top: 0;
  right: 0;
}

hr.div {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid var(--underlay2);
}

/* soclinks */

.socials {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-right: 6rem;
}

.socialsI {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: var(--fontSize6);
  background-color: var(--underlay);
  border-radius: 50%;
}

.socialsI:hover {
  background-color: var(--underlay2);
}
